.global-search {
    height: 100%;
    display: flex;
    align-items: center;
    .input-field {
      width: calc(100% - 110px);
      height: 35px
    }
    .icon-brand {
      width: 25px;
      display: contents;
    }
    .brand {
      height: 100%;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
      &:hover {
        background-color: unset;
      }
    }
}