<template>
  <div class="global-thumb">
    <div class="wrapper">
      <img class="avatar pointer" :src="user.picture | picture" alt="Notifications">
      <span class="fullname">{{ user.name }}</span>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    user: {
      get () {
        return this.$store.state.user.attributes
      }
    }
  },
  filters: {
    picture (data) {
      try {
        const parser = JSON.parse(JSON.stringify(data))
        const parserEr = JSON.parse(parser)
        return parserEr.data.url
      } catch (error) {
        return data
      }
    }
  }
}
</script>

<style src="./GlobalThumb.scss" lang="scss" />
