.global-thumb {
    width: 100%;
    height: 100%;
    .wrapper {
        height: 100%;
        margin-left: 20px;
        display: flex;
        align-items: center;
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #e6e6e6;
        }
        .fullname {
            margin-left: 10px;
            font-size: 15px;
        }
        &:hover {
            cursor: pointer;
        }
    }
}