.global-options {
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    &.option-item {
      float: left;
      width: 33%;
      height: 100%;
      display: flex;
      .icon {
        width: 20px;
        height: 20px;
        margin: 5px;
      }
    }
    .marker {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 8px solid white;
      position: absolute;
      bottom: -8px;
      visibility: hidden;
    }
}
