<template>
  <div class="global-search">
    <nuxt-link class="brand" to="/">
      <Icon
        class-name="icon-brand pointer"
        size="md"
        src="/icons/favicon.ico"
        tooltip="CEDU WEB-APP"
      />
      <Txt class-name="xl" value="CEDU" />
    </nuxt-link>
    <Input icon="/icons/search.png" placeholder="Search every things ..." type="default"/>
  </div>
</template>

<script>
import Txt from '~/components/Text'
import Icon from '~/components/Icon'
import Input from '~/components/Input'
export default {
  components: {
    Txt,
    Icon,
    Input
  }
}
</script>

<style src="./GlobalSearch.scss" lang="scss" />
