<template>
  <div :class="['global-options',className]">
    <Icon
      v-tooltip.top-center="tooltip"
      :src="item === sidebarActiveItem ? iconActive : icon"
      class-name="hovering"
      size="sm"
      alt="CEDU - Icon"
      on-click="1"
      @onclick="handleClick"
    />
    <span class="marker" v-if="sidebarActiveItem"/>
  </div>
</template>

<script>
import Icon from '~/components/Icon'
export default {
  components: {
    Icon
  },
  props: {
    className: {
      type: String,
      required: false,
      default: ''
    },
    icon: {
      type: String,
      required: false,
      default: ''
    },
    iconActive: {
      type: String,
      required: false,
      default: ''
    },
    item: {
      type: String,
      required: false,
      default: ''
    },
    toggles: {
      type: Object,
      required: false,
      default: null
    },
    onUpdateToggleMenu: {
      type: Function,
      required: false,
      default: null
    },
    tooltip: {
      type: String,
      required: false,
      default: ''
    }
  },
  computed: {
    sidebarActiveItem: {
      get () {
        return this.$store.state.local.sidebar.itemActive
      },
      set (item) {
        return this.$store.dispatch('local/updateSidebar', item)
      }
    }
  },
  methods: {
    handleClick() {
      this.sidebarActiveItem = this.item
    }
  },
}
</script>

<style src="./GlobalOption.scss" lang="scss" />
