<template>
  <div id="header">
    <div class="header-cell">
      <GlobalSearch />
    </div>
    <div class="header-cell">
      <div class="option-item-profile web">
        <GlobalThumb />
      </div>
      <div class="option-item-menu">
        <span class="line web" />
        <GlobalOption
          class-name="option-item mobile"
          icon="/icons/user.png"
          icon-active="/icons/toggle-menu-active.png"
          item="User"
          tooltip="Profile"
        />
        <GlobalOption
          class-name="option-item"
          icon="/icons/notification.png"
          icon-active="/icons/notification-active.png"
          item="Notification"
          tooltip="Notification"
        />
        <GlobalOption
          class-name="option-item"
          icon="/icons/message.png"
          icon-active="/icons/message-active.png"
          item="Message"
          tooltip="Message"
        />
        <GlobalOption
          class-name="option-item"
          icon="/icons/setting.png"
          icon-active="/icons/setting-active.png"
          item="Setting"
          tooltip="Setting"
        />
      </div>
    </div>
  </div>
</template>

<script>
import GlobalSearch from './GlobalSearch'
import GlobalOption from './GlobalOption'
import GlobalThumb from './GlobalThumb'

export default {
  components: {
    GlobalSearch,
    GlobalOption,
    GlobalThumb
  }
}
</script>

<style src="./style.scss" lang="scss" />
