#header {
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 100;
    .header-cell {
        width: 50%;
        height: 50px;
        background-color: #ffffff;
        border-bottom: 1px solid silver;
        .option-item-menu {
            width: 30%;
            height: 100%;
            float: left;
        }
        .option-item-profile {
            width: 70%;
            height: 100%;
            float: left;
        }
    }
    .line {
        width: 1px;
        height: 100%;
        display: inline-block;
        background-color: silver;
        float: left;
    }

    @media all and (max-width: 600px) {
        flex-direction: column;
        .global-search {
            width: 100%;
        }
        .option-item-menu {
            width: 100% !important;
            .option-item {
                width: 25% !important;
                .icon {
                    width: 25px;
                }
            }
        }
        .header-cell {
            width: 100% !important;
            &:nth-child(2) {
                position: fixed;
                bottom: 0;
                border-top: 1px solid silver;
                z-index: 2;
            }
        }
    }
}

.sidebar-expanded > #header{
    .option-item-menu {
        .active {
            .marker {
                visibility: visible;
            }
        }
    }
}