<template>
    <div class="select-expanded_container">
        <div class="select-expanded_container__item"
            v-for="(item, index) in items"
            @click="onGetItem(item)"
            :key="`select-expanded-${index}`">
            <Icon class-name="select-expanded_container__item-icon" size="sm" :src="item.icon" v-if="item.icon"/>
            <div :class="['select-expanded_container__item-view', index === 0 && 'none-border-bottom', item.icon ? 'has-icon' : '']">
                <div class="select-expanded_container__item-view_label" v-if="item.value != 'DATETIME_SCHEDULE1'" v-html="item.label"></div>
                <div class="select-expanded_container__item-view_sublabel" v-if="item.subLabel">{{ item.subLabel }}</div>
            </div>
        </div>
    </div>
</template>

<script>
import Icon from '~/components/Icon'

export default {
    components: {
        Icon,
    },
    props: {
        items: {
            type: Array,
            default: []
        },
        onGetItem: {
            type: Function,
            default: null
        }
    }
}
</script>