<template>
    <div :class="['select', className]">
        <div class="select-master" @click="isExpanding = true" ref="xxx">
            <Icon class-name="select-icon"
                :src="itemSelected.icon"
                size="sm"
                v-if="itemSelected && itemSelected.icon" />

            <Txt :class="['select-text', (itemSelected && itemSelected.icon) ? 'has-icon' : '']"
                :value="options.label"
                v-if="!itemSelected" />
            <Txt :class="['select-text', (itemSelected && itemSelected.icon) ? 'has-icon' : '']" :value="itemSelected.label" v-if="itemSelected && itemSelected.value != 'DATETIME_SCHEDULE'" />

            <div class="select-triangle" ref="reference"><Triangle type="down"/></div>
        </div>
        <div class="select-expanded" v-if="isExpanding">
            <SelectExpanded
                :items="options.items"
                :onClose="closeExpanding"
                :onGetItem="handleItemChosing"
                v-click-outside="closeExpanding"
            />
        </div>
    </div>
</template>

<script>
import Triangle from '~/components/Shapes/Triangle'
import Icon from '~/components/Icon'
import Txt from '~/components/Text'
import SelectExpanded from './_Expanded'

export default {
    components: {
        Triangle,
        Icon,
        Txt,
        SelectExpanded
    },
    props: {
        className: {
            type: String,
            default: ''
        },
        options: {
            type: Object,
            default: null
        },
        isDisabled: {
            type: Boolean,
            default: false
        },
        onChange: {
            type: Function,
            default: null
        }
    },
    methods: {
        closeExpanding() {
            this.isExpanding = false
        },
        handleItemChosing(item) {
            this.itemSelected = item
            this.isExpanding = false
            this.onChange(item)
            if (item.value === 'DATETIME_SCHEDULE') {
                const datetimeElement = document.getElementsByClassName('vdatetime-input')[0]
                datetimeElement.click()
            }
        },
    },
    data() {
        return {
            isExpanding: false,
            itemSelected: null,
            datetime: null
        }
    }
}

</script>

<style src="./style.scss" lang="scss">