.select {
    position: relative;
    .select-master {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 35px;
        border: 1px solid silver;
        position: relative;
        .select-text {
            margin-right: 15px;
            margin-left: 7px;
            position: absolute;
            &.has-icon {
                margin-left: 35px;
            }
        };
        .select-icon {
            position: absolute;
            display: flex;
        };
        .select-triangle {
            width: 15px;
            height: 100%;
            display: inline-flex;
            align-self: flex-end;
            align-items: center;
            justify-content: center;
        };
        &:hover {
            cursor: pointer;
        };
        .vdatetime {
            position: absolute;
            padding-left: 35px;
            height: 100%;
            z-index: 100;
            display: flex;
            input {
                border: none;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .select-collapsed {
        width: 100%;
        height: 100%;
        position: absolute;
        &_container {
            display: none
        }
    }
    .select-expanded {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        &_container {
            height: auto;
            margin-top: 2px;
            // border: 1px solid #9e9e9e;
            &__item {
                position: static;
                // display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                &-icon {
                    z-index: 1;
                    left: 1px;
                    position: absolute;
                    display: flex;
                }
                &-view {
                    // position: absolute;
                    height: auto;
                    background-color: #ffffff;
                    padding-left: 7px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border: 1px solid silver;
                    border-bottom: none;
                    &.has-icon {
                        padding-left: 35px;
                    }
                    &_label {}
                    &_sublabel {
                        font-size: 10px;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: #eeeeee;
                    }
                    &:nth-last-child() {
                        border-bottom: 1px solid silver;
                    }
                }
            }
        }
    }
    &.bordered {
        .select-master {
            border-radius: 10px;
        }
    }
}