<template>
  <div id="sidebar">
    <Notification v-if="sidebar.itemActive === 'Notification'" />
    <Messages v-if="sidebar.itemActive === 'Message'" />
    <Settings v-if="sidebar.itemActive === 'Setting'"/>
  </div>
</template>

<script>
import Button from '~/components/Button'
import Notification from './Notification'
import Settings from './Settings'
import Messages from './Messages'

export default {
  components: {
    Button,
    Notification,
    Messages,
    Settings,
  },
  computed: {
    sidebar: {
      get () {
        return this.$store.state.local.sidebar
      }
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('user/loggout')
    }
  },
}
</script>

<style src="./style.scss" lang="scss" />
