<template>
    <div id="global-messages">
        <div class="message"><Txt type="bold" value="Tin Nhắn"/></div>

        <div class="message-item">
            <div class="message-item-thumb">
                <img src="/icons/user.png"/>
            </div>
            <div class="message-item-content">
                <Txt size="sm" value="Mr.Khanh send to you a message"/>
                <Txt size="xsm" value="1 hours ago"/>
            </div>
        </div>

        <div class="message-item">
            <div class="message-item-thumb">
                <img src="/icons/user.png"/>
            </div>
            <div class="message-item-content">
                <Txt size="sm" value="Mr.Khanh send to you a message"/>
                <Txt size="xsm" value="7 hours ago"/>
            </div>
        </div>
    </div>
</template>

<script>
import Txt from '~/components/Text'
export default {
    components: {
        Txt
    }
}
</script>

<style src="./Messages.scss" lang="scss"/>