#global-messages {
    .message-item {
        display: flex;
        padding-bottom: 5px;
        .message-item-thumb {
            width: 32px;
            img {
                width: 100%;
            }
        }
        .message-item-content {
            width: calc(100% - 32px);
            display: flex;
            flex-direction: column;
            padding-left: 5px;
            &:hover {
                background-color: #ebedee;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}