<template>
    <div id="global-notifications">
        <div class="notification"><Txt type="bold" value="Thông Báo"/></div>

        <div class="notification-item">
            <div class="notification-item-thumb">
                <img src="/icons/user.png"/>
            </div>
            <div class="notification-item-content">
                <Txt size="sm" value="Mr.Khanh want to join your Room - Angular 100 and React 99"/>
                <Txt size="xsm" value="5 hours ago"/>
            </div>
        </div>

        <div class="notification-item">
            <div class="notification-item-thumb">
                <img src="/icons/user.png"/>
            </div>
            <div class="notification-item-content">
                <Txt size="sm" value="Mr.Khanh want to join your Room - Angular 100 and React 99"/>
                <Txt size="xsm" value="7 hours ago"/>
            </div>
        </div>
    </div>
</template>

<script>
import Txt from '~/components/Text'
export default {
    components: {
        Txt
    }
}
</script>

<style src="./Notification.scss" lang="scss"/>