<template>
    <div id="global-settings">
        <div class="settings"><Txt type="bold" value="Cài đặt"/></div>
        <div class="setting-item"><Txt value="Cài đặt riêng tư"/></div>
        <div class="setting-item"><Txt value="Trợ giúp & phản hồi"/></div>
        <div class="setting-item" @click="logout()"><Txt value="Đăng xuất"/></div>
    </div>
</template>

<script>
import Txt from '~/components/Text'
export default {
    components: {
        Txt
    },
    methods: {
        logout() {
            this.$store.dispatch('user/loggout')
        }
    },
}
</script>

<style src="./Settings.scss" lang="scss" />