#sidebar {
    width: 250px;
    padding: 50px 5px 5px 5px;
    margin-right: 10px;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    z-index: 2;
    display: none;
    @media all and (max-width: 600px) {
        width: 100%;
        height: 100%;
        border: none;
        right: unset;
        margin-right: 0px;
    }
}

.sidebar-expanded >  #sidebar {
    display: block;
}