.create-task {
    .create-task-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .create-task-item {
            margin-bottom: 5px;
            width: 350px;
        }
    }
}