<template>
    <div class="create-task">
        <div class="create-task-options" v-if="task.status === 'INIT_CREATE'">
            <Button class="create-task-item" text="Hình thức trắc nghiệm" :on-click="createQuiz"/>
            <Button class="create-task-item" text="Hình thức tự luận" :on-click="createLetter"/>
            <Button class="create-task-item" text="Chọn từ kho tài liệu" :on-click="importFromStorage"/>
        </div>
        <div v-if="task.status === 'INIT_CREATE_IMPORTATION'">
            <ImportTask/>
        </div>

        <div v-if="task.status === 'AFTER_INIT_CREATE'">
            <div v-if="task.type === 'MULTIPLE_CHOISE'">
                <MultiChoise mode="CREATE_DOCUMENT_INSIGHT"/>
            </div>
            <div v-if="task.type === 'MULTIPLE_WRITE'">CREATE a Letter</div>
        </div>
    </div>
</template>

<script>
import Button from '~/components/Button'
import MultiChoise from '../Document/MultiChoise/Create'
import ImportTask from './ImportTask'

export default {
    components: {
        Button,
        Button,
        MultiChoise,
        ImportTask
    },
    computed: {
        task: {
            get () {
                return this.$store.state.insight.creating.task
            }
        }
    },
    methods: {
        createQuiz() {
            this.$store.commit('insight/updateCreateTask', {
                status: 'AFTER_INIT_CREATE',
                type: 'MULTIPLE_CHOISE',
            })
        },
        createLetter() {
            this.$store.commit('insight/updateCreateTask', {
                status: 'AFTER_INIT_CREATE',
                type: 'MULTIPLE_WRITE',
            })
        },
        importFromStorage() {
            this.$store.commit('insight/updateCreateTask', {
                status: 'INIT_CREATE_IMPORTATION',
            })
        }
    },
}
</script>

<style src="./CreateTask.scss" lang="scss" />
