<template>
    <div class="create-post">
        <Textarea
        class="post"
        id="create-post"
        :value="postValue"
        :on-change="handleChange"
        placeholder="Bạn đang nghĩ gì?"/>
    </div>
</template>

<script>
import Textarea from '~/components/Textarea'
export default {
    components: {
        Textarea
    },
    computed: {
        emoji: {
            get () {
                return this.$store.state.local.emoji.selected
            }
        },
        postValue: {
            get () {
                return this.$store.state.insight.creating.post.value
            },
            set (val) {
                this.$store.commit('insight/updatePostValue', val)
            }
        }
    },
    methods: {
        handleChange(val) {
            this.postValue = val
            this.$store.dispatch('insight/updatePostValue', this.postValue)
        }
    },
    watch: {
        emoji(val) {
            this.postValue = this.postValue + val.native
        }
    },
}
</script>

<style src="./CreatePost.scss" lang="scss" />
