.task-importation {
    button {
        width: 100px;
    }
    .task-item {
        &:hover {
            background-color: silver;
            cursor: pointer;
        }
        &:active {
            background-color: silver;
        }
    }
}