<template>
    <Row class="task-importation" col="1" mcol="1">
        <Button class="btn-bordered" text="Tim kiem" icon="/icons/search.png" :on-click="handleSearch"/>
        <div class="task-item">
            1111111111111111111
        </div>
        <div>
            11111111111111111111111
        </div>
    </Row>
</template>

<script>
import Button from '~/components/Button'
import Row from '~/components/Row'
export default {
    components: {
        Row,
        Button
    },
    methods: {
        handleSearch() {
            console.log('SSSSSSss')
        }
    },
}
</script>

<style src="./ImportTask.scss" lang="scss" />