<template>
    <div class="create-room">
      <Row col="3" mcol="3">
        <Txt class-name="fx-center" value="Room name :" />
        <Input
          class-name="colspan-2"
          :value="room.name"
          type="default"
          size="lg"
          :on-change="handleRoomNameChange"
          placeholder="Room name ..." />

        <Txt class-name="fx-center" value="Room ID :" />
        <Input
          :value="room.id"
          type="default"
          size="lg"
          :is-disabled="!room.idDisabled"
          :on-change="handleRoomIDChange"/>
        <Checkbox
          class-name="form-field"
          label="Customize ID"
          :checked="room.idDisabled"
          :on-click="handleIDDisabled"/>

        <Txt class-name="fx-center" value="Room mode :" />
        <Select
          class-name="form-field bordered"
          :options="room.options"
          :on-change="handleRoomModeChange"/>
      </Row>
    </div>
</template>

<script>
import Form from '~/components/Form'
import Row from '~/components/Row'
import Select from '~/components/Select'
import Input from '~/components/Input'
import Checkbox from '~/components/Checkbox'
import Txt from '~/components/Text'

export default {
  components: {
    Form,
    Row,
    Select,
    Input,
    Checkbox,
    Txt
  },
  computed: {
    room: {
      get () {
        return this.$store.state.room.creating
      }
    }
  },
  methods: {
    handleIDDisabled(isDisabled) {
      this._updateRoomCreatingValues('idDisabled', isDisabled)
    },
    handleRoomNameChange(value) {
      this._updateRoomCreatingValues('name', value)
    },
    handleRoomIDChange(value) {
      this._updateRoomCreatingValues('id', value)
    },
    handleRoomModeChange(value) {
      this._updateRoomCreatingValues('mode', value.id)
    },
    _updateRoomCreatingValues(key, value) {
      this.$store.dispatch('room/updateCreatingValues', { key, value })
    }
  },
  watch: {
  },
}
</script>

<style src="./style.scss" lang="scss" />