<template>
  <div :class="['input','input-field','inline', className, size, icon ? 'withicon' : '', label ? 'withlabel' : '']">
    <Icon v-if="icon" class-name="input-icon" :size="size" :src="icon" />
    <input
      :type="isNumber ? 'number' : 'text'"
      :class="[type, isDisabled ? 'disabled' : '']"
      :value="value"
      :placeholder="placeholder"
      :required="required"
      :disabled="isDisabled"
      @change="handleChange"
      @focus="handleFocus"
    >
    <label>{{ label }}</label>
  </div>
</template>

<script>
import Icon from '~/components/Icon'
export default {
  components: {
    Icon
  },
  props: {
    className: {
      type: String,
      required: false,
      default: ''
    },
    onChange: {
      type: Function,
      required: false,
      default: null
    },
    icon: {
      type: String,
      required: false,
      default: ''
    },
    value: {
      type: String | Number,
      required: false,
      default: ''
    },
    keyValue: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      required: false,
      default: ''
    },
    required: {
      type: Boolean,
      required: false,
      default: false
    },
    placeholder: {
      type: String,
      required: false,
      default: ''
    },
    type: {
      type: String,
      required: false,
      default: ''
    },
    size: {
      type: String,
      required: false,
      default: ''
    },
    isDisabled: {
      type: Boolean,
      required: false,
      default: false
    },
    index: {
      type: String,
      required: false,
      default: '0'
    },
    isNumber: {
      type: Boolean,
      default: false
    },
    onFocus: {
      type: Function,
      default: null
    }
  },
  methods: {
    handleChange(event, index) {
      this.onChange(event.target.value, this.index)
    },
    handleFocus(event) {
      if (this.onFocus) {
        this.onFocus(this.keyValue)
      }
    }
  },
}
</script>

<style src="./style.scss" lang="scss" />
