.input {
    display: flex;
    position: relative;
    align-items: center;
    .input-icon {
        position: absolute;
        z-index: 1;
    }
    input {
        width: 100%;
        height: 100%;
        position: absolute;
        padding-left: 7px;
        border: 1px solid silver;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;
        &.default {
            border-radius: 10px;
            border: 1px solid silver;
        }
        &.disabled {
            cursor: unset;
            background-color: #eeeeee;
        }
    }

    // INPUT HAS ICON
    &.withicon {
        input {
            padding-left: 35px;
        }
    }

    // INPUT HAS LABEL
    &.withlabel {
        input {
            padding-top: 15px;
            padding-left: 7px;
            color: #000000;
        }
        label {
            position: absolute;
            font-size: 10px;
            top: 1px;
            left: 8px;
        }
    }

    // INPUT FONT STYLES
    &.bold {
        input {
            font-weight: 600;
        }
    }

    //
    &.input-inline-table {
        width: 100%;
        min-height: 40px;
        input {
            border: none;
        }
    }

    // SIZE
    &.md {
        height: 30px;
    }

    &.lg {
        height: 35px;
    }
}