<template>
    <div :class="['checkbox', className]">
        <input
            type="checkbox"
            :checked="checked"
            v-tooltip.bottom-center="tooltip"
            @click="onClick(checked, index)"
        />
      <Txt :value="label" :size="size" v-if="label"/>
    </div>
</template>

<script>
import Txt from '~/components/Text'
export default {
    components: {
        Txt
    },
    props: {
        className: {
            type: String,
            default: ''
        },
        label: {
            type: String,
            default: ''
        },
        checked: {
            type: Boolean,
            default: false
        },
        size: {
            type: String,
            default: ''
        },
        type: {
            type: String,
            default: ''
        },
        index: {
            type: String,
            default: ''
        },
        tooltip: {
            type: String,
            default: ''
        },
        onClick: {
            type: Function,
            default: null
        }
    }
}
</script>

<style src="./style.scss" lang="scss" />
