.checkbox {
    display: flex;
    align-items: center;
    input {
      height: 15px !important;
      width: 17px !important;
      &:hover {
        cursor: pointer;
      }
    }
    &:hover {
      cursor: pointer;
    }
}