<template>
    <div id="board">
        <div class="board">
            <div class="board-header">
                <div class="board-today">26/06/2020</div>
                <div class="board-session">Tuần: 2 - Buổi: 5</div>
            </div>
            <div class="board-body">
                <div>Hello các em, mình là Teacher mình tên là Thầy</div>
                <div>Email của thầy nè: thầy@gmail.com</div>
                <div>SĐT của thầy nè: 0909 090 900</div>
                <div>Thanks nè hihi!</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style src="./Board.scss" lang="scss" />
