#board {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    .board {
        width: 450px;
        height: 250px;
        border: 5px solid silver;
        .board-header {
            display: flex;
            padding: 5px;
            .board-today, .board-session {
                font-size: 10px;
            }
            .board-session {
                margin-left: auto;
            }
        }
        .board-body {
            padding: 5px;
        }
    }
}