<template>
    <div>
        <div class="room-inside">
            <Menu class="room-header room-menu"/>
            <div class="room-body">
                <div class="room-content">
                    <Timeline class="room-timeline"></Timeline>
                </div>
                <Members class="room-members" />
            </div>
        </div>
    </div>
</template>

<script>
import Menu from './Menu'
import Members from './Members'
import Board from './Board'
import Timeline from './Timeline'

export default {
    components: {
        Menu,
        Timeline,
        Members,
        Board,
    }
}
</script>

<style src="./style.scss" lang="scss" />
