<template>
    <div id="members">
       <div class="members-header">
            <span class="title">Members in room:</span>
            <span class="right">- x</span>
       </div>
        <div class="members-list">
            <div class="member">
                <div class="member-picture"><img src="/icons/user.png"/></div>
                <div class="member-name-scores">
                    <div class="member-name">Le Khanh</div>
                    <div class="member-scores">129</div>
                </div>
                <div class="member-status"/>
            </div>
            <div class="member">
                <div class="member-picture"><img src="/icons/user.png"/></div>
                <div class="member-name-scores">
                    <div class="member-name">Le Nham</div>
                    <div class="member-scores">98</div>
                </div>
                <div class="member-status"/>
            </div>
            <div class="member">
                <div class="member-picture"><img src="/icons/user.png"/></div>
                <div class="member-name-scores">
                    <div class="member-name">Nguyen A</div>
                    <div class="member-scores">88</div>
                </div>
                <div class="member-status"/>
            </div>
            <div class="member">
                <div class="member-picture"><img src="/icons/user.png"/></div>
                <div class="member-name-scores">
                    <div class="member-name">Tran B</div>
                    <div class="member-scores">55</div>
                </div>
                <div class="member-status"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style src="./Members.scss" lang="scss" />
