#members {
    position: fixed;
    right: 10px;
    width: 220px;
    height: 100%;
    border: 1px solid silver;
    margin-top: 5px;
    .members-header {
        border-bottom: 1px solid silver;
        padding: 2px;
        .title {
            font-size: 11px;
        }
    }
    .member {
        display: flex;
        padding: 5px;
        align-items: center;
        position: relative;
        .member-picture {
            width: 35px;
            height: 35px;
            border: 1px solid silver;
            border-radius: 50%;
            img {
                width: 100%;
            }
        }
        .member-name-scores {
            margin-left: 5px;
            .member-name {
                font-size: 14px;
            }
            .member-scores {
                font-size: 10px;
            }
        }
        .member-status {
            position: absolute;
            right: 5px;
            width: 10px;
            height: 10px;
            background: green;
            border-radius: 50%;
        }
        &:hover {
            cursor: pointer;
            border-radius: 20px;
            background-color: #ebedee;
        }
    }
}