.room-inside {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .room-header {
        width: 100%;
        border-bottom: 1px solid silver;
    }

    .room-body {
        width: 100%;
        display: flex;
        .room-content {
            width: calc(100% - 220px);
            height: 100%;
            overflow: auto;
            margin-bottom: 35px;
        }
    }
}