<template>
    <div id="timeline-card">
        <div class="timecard-card_post" v-if="type === 'POST'">
            <div class="head">
                <div class="thumb"><img src="/icons/user.png"/></div>
                <div class="name-date">
                    <div class="name">Nguyen Quang Khanh</div>
                    <div class="datetime">09/09/2090 - 09:18 AM</div>
                </div>
                <Icon class="options hovering" src="/icons/dotdotdot.png"/>
            </div>
            <div class="body">
                <div class="timeline-card-content">
                    Chào các em, đây là room học tập online của lớp mình, thầy sẽ tạo bài tập + bài thi trên này các em theo dõi nhé
                </div>
            </div>
            <div class="foot">
                <div class="likes">
                    <span>15</span>
                    <Icon class="hovering" src="/icons/liked.png"/>
                </div>
                <div class="comments">
                    <span>15</span>
                    <Icon class="hovering" src="/icons/comment.png"/>
                </div>
            </div>
            <div class="comments-expanded">
                <div class="comment-creating">
                    <CommentCreator />
                </div>
                <div class="comments-list">
                    <CommentItem userPicture="/icons/user.png" userName="Nguyen Van A" comment="Hello thầy" datetime="5 minutes ago"/>
                    <CommentItem userPicture="/icons/user.png" userName="Nguyen Van A" comment="How are you thầy ?" datetime="5 minutes ago"/>
                    <CommentItem userPicture="/icons/user.png" userName="Nguyen Van A" comment="Hello everyone!" datetime="5 minutes ago"/>
                </div>
            </div>
        </div>

        <div class="timeline-card_task" v-if="type === 'TASK'">
            <div class="head">
                <Txt size="bold" value="Bài kiểm tra 15 phút" />
                <Icon class="options hovering" src="/icons/dotdotdot.png"/>
            </div>
            <div class="body">
                <div>
                    <span class="">Thời gian làm bài:</span>
                    <span class="">15 phút</span>
                </div>
                <div>
                    <span class="">Tổng số câu hỏi:</span>
                    <span class="">30 câu</span>
                </div>
            </div>
            <div class="foot">
                bắt đầu sau: 4p15s
            </div>
        </div>

        <div class="timeline-card_options collapsed">
            <div class="item">Sửa</div>
            <div class="item">Xóa</div>
            <div class="item">Ghim</div>
        </div>
    </div>
</template>

<script>
import Row from '~/components/Row'
import Icon from '~/components/Icon'
import Txt from '~/components/Text'
import CommentCreator from '~/components/Comment/Creator'
import CommentItem from '~/components/Comment/Item'
export default {
    components: {
        Row,
        Icon,
        Txt,
        CommentCreator,
        CommentItem
    },
    props: {
        type: {
            type: String,
            value: ''
        }
    }
}
</script>

<style src="./TimelineItem.scss" lang="scss" />
