#timeline {
    min-height: 500px;
    .timeline-creator {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .creator-types {
            display: flex;
            button {
                margin-right: 2px;
            }
        }
        .creator-comment {
            font-size: 10px;
        }
    }
    .timeline-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}