#timeline-card {
    width: 400px;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid silver;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    .head {
        display: flex;
        .thumb {
            width: 35px;
            margin-right: 10px;
            img { width: 100%; }
        }
        .name-date {
            .name {
                font-size: 13px;
            }
            .datetime {
                font-size: 10px;
            }
        }
        .options {
            position: absolute;
            right: 0;
            font-size: 20px;
        }
    }
    .foot {
        display: flex;
        .likes, .comments {
            display: flex;
            align-items: center;
            margin-right: 10px;
            span {
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
    .timeline-card-content {
        &_task {
            width: 70%;
            margin: 0 auto;
            .title, .schedule {
                text-align: center;
            }
        }
    }
    .timeline-card_options {
        position: absolute;
        right: -65px;
        top: -2px;
        width: 50px;
        display: none;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        border: 1px solid silver;
        border-radius: 10px;
        padding: 5px;
        .item {
            font-size: 12px;
            width: 100%;
            text-align: left;
            &:hover {
                background-color: #ebedee;
                cursor: pointer;
            }
        }
        &.expanded {
            display: flex;
        }
    }
}