<template>
    <div id="timeline">
        <div class="timeline-creator">
            <div class="creator-types">
                <Button text="Create a post" :on-click="createPost"/>
                <Button text="Create a task" :on-click="createTask"/>
                <Button text="Create a poll" :on-click="createPoll"/>
                <Button text="Create a video call" :on-click="createPoll"/>
            </div>
            <div class="creator-comment">
                Just room's master is able to use these
            </div>
        </div>
        <div class="timeline-content">
            <TimelineItem class="timeline-item" type="POST"/>
            <TimelineItem class="timeline-item" type="TASK" />
            <TimelineItem class="timeline-item"/>
        </div>
    </div>
</template>

<script>
import Button from '~/components/Button'
import TimelineItem from './TimelineItem'

export default {
    components: {
        Button,
        TimelineItem
    },
    methods: {
        createPost() {
            this.$store.dispatch('local/openModal', {
                mode: 'CREATE_POST_INSIGHT',
                title: 'Create a Post',
                component: 'CREATE_POST_INSIGHT',
                txtSubmit: 'Create',
                txtCancel: 'Cancel'
            })
        },
        createTask() {
            this.$store.dispatch('local/openModal', {
                mode: 'CREATE_DOCUMENT_INSIGHT',
                title: 'Create a new Task',
                component: 'CREATE_DOCUMENT_INSIGHT',
                txtSubmit: 'Create',
                txtCancel: 'Destroy'
            })
        },
        createPoll() {
        }
    },
}
</script>

<style src="./Timeline.scss" lang="scss" />
