<template>
    <div class="login">
      <Form>
        <Row col="1" mcol="1">
          <div class="brand">
            <Icon src="/icons/logo.png" />
            <Txt class="brand-name" value="CLOUD EDUCATION" />
            <Txt class="brand-description" value="We hope you will have greate experiences with your classes :D" />
          </div>

          <BreakLine distance="xl" />

          <Button
            type="primary social"
            text="Login with Facebook"
            icon="/icons/facebook.png"
            size="md"
            :on-click="onLoginFacebook"/>

          <Button
            type="warning social"
            text="Login with Google"
            icon="/icons/google.png"
            size="md"
            :on-click="onLoginGoogle"/>
        </Row>
      </Form>
    </div>
</template>

<script>

import Row from '~/components/Row'
import Form from '~/components/Form'
import Icon from '~/components/Icon'
import Txt from '~/components/Text'
import BreakLine from '~/components/Shapes/Line'
import Button from '~/components/Button'
import Auth, { CognitoHostedUIIdentityProvider } from '@aws-amplify/auth';

export default {
    components: {
      Row,
      Form,
      Icon,
      Txt,
      BreakLine,
      Button
    },
    methods: {
      onLoginFacebook() {
        this.$store.commit('user/loading', true)
        Auth.federatedSignIn({ provider: 'Facebook' });
      },
      onLoginGoogle() {
        this.$store.commit('user/loading', true)
        Auth.federatedSignIn({ provider: 'Google' });
      }
    },
    computed: {
      isLoading: {
        get () {
          return this.$store.state.user.isLoading
        }
      }
    },
}
</script>

<style src="./style.scss" lang="scss" />
