#login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    .login {
        width: 400px;
        height: 460px;
        padding: 50px;
        border: 2px solid #e6e6e6;
        box-shadow: 0 0 1px #ddd;
        border-radius: 10px;
        background-color: #ffffff;
        position: relative;
        .brand {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .brand-name {
                font-size: 18px;
                font-weight: 700;
            }
            .brand-description {
                margin-top: 10px;
                text-align: center;
            }
        }
    }
}

@media all and (max-width: 600px) {
    #login {
        .login {
            width: 100%;
            height: 100%;
            border-radius: unset;
        }
    }
}