<template>
    <button :class="['button', className, type, size]" @click="onClick">
        <Icon :class-name="`btn-icon ${text?'mgr-5':''}`" :src="icon" :size="size" v-if="icon"/>
        <Txt :value="text" :size="size" v-if="text"/>
    </button>
</template>

<script>
import Icon from '~/components/Icon'
import Txt from '~/components/Text'

export default {
    components: {
        Icon,
        Txt
    },
    props: {
        className: {
            type: String,
            default: ''
        },
        text: {
            type: String,
            default: ''
        },
        icon: {
            type: String,
            default: ''
        },
        size: {
            type: String,
            default: ''
        },
        type: {
            type: String,
            default: 'default'
        },
        onClick: {
            type: Function,
            default: null
        }
    }
}
</script>

<style src="./style.scss" lang="scss" />
