.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    min-width: 70px;
    min-height: 30px;

    .btn-icon {
      padding: 0px;
      margin-top: 1px;
      &.mgr-5 {
        margin-right: 5px;
      }
    }

    // BUTTON SIZES:
    &.sm {}
    &.md {}
    &.lg {}

    &:hover {
      cursor: pointer;
    }

    // BUTTON FONT STYLES:
    &.bold {
      font-weight: 600;
      color: #616161;
    }

    // BUTTON TYPES:
    &.primary {
      border: none;
      background-color: #607d8b;
      color: #ffffff;
    }

    &.warning {
      border: none;
      background-color: #ffa726;
      color: #ffffff;
    }

    &.default {
      border: 1px solid silver;
      background-color: unset;
      &:hover {
        background-color: #eeeeee;
      }
    }

    &.social {
      .button-wrapper {
        width: 220px;
        display: flex;
        align-items: center;
      }
    }

    &.btn-bordered {
      border-radius: 20px;
    }
}