<template>
    <div id="picker-emoji">
        <Icon
            class="thumb-emoji"
            src="/icons/emotion-picker.png"
            tooltip="Open emotion icons"
            :on-click="'1'"
            @onclick="openPickerEmoji"
            v-if="!pickerEmoji"/>
        <picker class="right" set="emojione" @select="selectEmoji" v-if="pickerEmoji"/>
    </div>
</template>

<script>
import Button from '~/components/Button'
import Icon from '~/components/Icon'
import { Picker } from 'emoji-mart-vue'

export default {
    components: {
        Button,
        Icon,
        Picker
    },
    computed: {
        pickerEmoji: {
            get () {
                return this.$store.state.local.emoji.isOpened
            }
        }
    },
    methods: {
        openPickerEmoji() {
            this.$store.commit('local/openPickerEmoji')
        },
        selectEmoji(val) {
            this.$store.commit('local/selectEmoji', val)
        }
    },
}
</script>

<style src="./style.scss" lang="scss" />
