#picker-emoji {
    .thumb-emoji {
        position: absolute;
        height: 200px;
        width: 50px;
        margin-left: -55px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            background: white;
            padding: 3px;
            border: 2px solid silver;
            border-radius: 50%;
            // &:hover {
            //     background: white;
            //     padding: 3px;
            //     border: 2px solid silver;
            //     border-radius: 50%;
            // }
        }
    }
}