<template functional>
    <div id="form" :class="className">
        <slot />
    </div>
</template>

<script>
export default {
    props: {
        className: {
            type: String,
            default: ''
        }
    }
}
</script>

<style src="./style.scss" lang="scss" />
