.table_body {
    display: grid;
    grid-template-columns: var(--dynamic-columns);
    border-left: 1px solid #607d8b;
    border-right: 1px solid #607d8b;
    border-bottom: 1px solid #607d8b;

    &:hover {
        background-color: #eeeeee;
    }

    .table_body__item {
        display: flex;
        min-height: 30px;
        &.status {
            &-In-Progress {
                font-size: 11px;
                font-weight: 600;
                align-items: center;
            }
            &-Opening {
                font-size: 11px;
                font-weight: 600;
                align-items: center;
                color: #64dd17;
            }
            &-Finished {
                font-size: 11px;
                font-weight: 600;
                align-items: center;
                color: #d0181e;
            }
        }
        &.table_action, &.table_actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            img {
                width: 18px;
                height: 18px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &.bordered {
            border-right: 1px solid #607d8b;
            &:nth-last-child(1) {
                border-right: unset;
            }
        }
        &.center {
            span {
                align-items: center;
                padding-left: 5px;
            }
            &-center {
                span {
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}