<template>
    <div class="table_body-wrapper" :style="css">
        <div
            :class="['table_body', styles]"
            v-for="(item, index) in items"
            :key="`table_body__${index}`">
            <div
                :class="['table_body__item', columnStyles]"
                v-for="(col, colIndex) in $lodash.keys(item)"
                v-if="!omit.includes(col) && col !== 'action' && col !== 'actions' && col !== 'answerValueIsChanged' && col !== 'answerValueIsValid'"
                :key="`table_body_${index}-${colIndex}`">
                <span
                    class="input-inline-table-wrapper"
                    v-if="col === 'answerIndex'">
                    {{ item[col] | formatAnswerIndex }}
                </span>
                <span
                    class="input-inline-table-wrapper"
                    v-if="col === 'answerResult'">
                    <Checkbox
                        :index="index.toString()"
                        :checked="item[col]"
                        :on-click="handleAnswerResultChange"/>
                </span>
                <span
                    class="input-inline-table-wrapper"
                    v-if="col === 'answerValue'">
                    <Textarea
                        class-name="input-inline-table"
                        type="default"
                        :id="`answerValue-${item['answerIndex']}`"
                        :index="index.toString()"
                        :value="item[col]"
                        :keyValue="item['answerIndex']"
                        :on-change="handleAnswerValueChange"
                        :on-focus="handleFocused"
                        />
                </span>
                <span
                    class="input-inline-table-wrapper"
                    v-if="col !== 'answerResult' && col !== 'answerValue' && col !== 'answerIndex'">
                    {{ item[col] | formatAnswerValue }}
                </span>
            </div>
            <div class="table_body__item table_actions" v-if="action">
                <div v-for="(_item, index) in action.items"
                :key="`table_action-${index}`"
                class="table_action">
                    <Icon src="/icons/play.png" :id="item.id.toString()" tooltip="Play" v-if="_item === 'play'" on-click="1" action="play" @onclick="handleCallAction"/>
                    <Icon src="/icons/view.png" :id="item.id.toString()" tooltip="View" v-if="_item === 'view'" on-click="1" action="view" @onclick="handleCallAction"/>
                    <Icon src="/icons/edit.png" :id="item.id.toString()" tooltip="Edit" v-if="_item === 'edit'" on-click="1" action="edit" @onclick="handleCallAction"/>
                    <Icon src="/icons/delete.png" :id="item.id.toString()" tooltip="Delete" v-if="_item === 'delete'" on-click="1" action="delete"  @onclick="handleCallAction"/>

                    <Icon src="/icons/join.png" :id="item.id.toString()" tooltip="Go to inside" v-if="_item === 'join'" on-click="1" action="join"  @onclick="handleCallAction"/>
                    <Icon src="/icons/register.png" :id="item.id.toString()" tooltip="Register this room" v-if="_item === 'register'" on-click="1" action="register"  @onclick="handleCallAction"/>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { ICON_ACTIONS } from '~/constants'
import Icon from '~/components/Icon'
import Input from '~/components/Input'
import Textarea from '~/components/Textarea'
import Checkbox from '~/components/Checkbox'

export default {
    components: {
        Icon,
        Input,
        Textarea,
        Checkbox
    },
    data() {
        return {
            _ICON_ACTIONS: null
        }
    },
    props: {
        dynamicColumns: {
            type: String,
            default: ''
        },
        items: {
            type: Array,
            default: []
        },
        styles: {
            type: String,
            default: ''
        },
        columnStyles: {
            type: String,
            default: ''
        },
        omit: {
            type: Array,
            required: false,
            default: []
        },
        action: {
            type: Object,
            default: null
        },
        onChange: {
            type: Function,
            default: null
        },
        onFocus: {
            type: Function,
            default: null
        }
    },
    computed: {
        css() {
            return {
                '--dynamic-columns': this.dynamicColumns
            }
        }
    },
    created() {
        this._ICON_ACTIONS = ICON_ACTIONS
    },
    methods: {
        formatItem(item) {
            if (typeof item !== 'string') return item
            return item.split('.')[0].replace('Actions','').replace('Action','')
        },
        formatActions(value) {
            if (value) {
                return value.split('-')
            }
        },
        handleAnswerValueChange(value, index) {
            this.onChange('answerValue',value, index)
        },
        handleAnswerResultChange(value, index) {
            this.onChange('answerResult', value, index)
        },
        handleFocused(keyValue) {
            if (this.onFocus) {
                this.onFocus(keyValue)
            }
        },
        handleCallAction(itemId, actionType) {
            this.$store.dispatch(`${this.action.state}/${actionType}`, itemId)
        }
    },
    filters: {
        formatAnswerIndex(value) {
            switch (value) {
                case '0': return 'A'
                case '1': return 'B'
                case '2': return 'C'
                case '3': return 'D'
                case '4': return 'E'
                case '5': return 'F'
                case '6': return 'G'
                case '7': return 'H'
                default: return value;
            }
        },
        formatAnswerValue(value) {
            if (value) {
                if (typeof value === 'string' || typeof value === 'number') return value
                return value.length
            }
        },
        formatActions(value) {
            return value.split('-')
        }
    }
}
</script>

<style src="./Body.scss" lang="scss" />