.table_header {
    display: grid;
    grid-template-columns: var(--dynamic-columns);
    border: 1px solid #607d8b;
    &.bg-1 {
        background-color: #607d8b;
        .table_header__item {
            color: #ffffff;
        }
    }
    .table_header__item {
        display: flex;
        align-items: center;
        min-height: 35px;
        &.bordered {
            border-right: 1px solid #607d8b;
            &:nth-last-child(1) {
                border-right: unset;
            }
        }
        &.center {
            span {
                align-items: center;
                padding-left: 5px;
            }
            &-center {
                span {
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}