<template>
    <div :class="['table_header', rowStyles]" :style="css">
        <div
            :class="['table_header__item', actionStyle(item), columnStyles]"
            v-for="(item, index) in items"
            :key="`table_header_${index}`">
            <span v-if="!item.includes('<INPUT>')" class="input-inline-table-wrapper">{{ item | formatItem }}</span>
            <span v-if="item.includes('<INPUT>')" class="input-inline-table-wrapper">
                <Input
                    v-if="item.includes('<INPUT><TEXT>')"
                    className="input-inline-table"
                    :value="formatItem(item)"
                    :index="index.toString()"
                    :on-change="handleChange"
                    :on-focus="handleFocus"
                    type="default"
                    placeholder="The question:"/>
                <Textarea
                    id="header"
                    :value="editorFormatItem(item)"
                    :on-change="handleChange"
                    :on-focus="handleFocus"
                    v-if="item.includes('<INPUT><TEXTAREA>')"/>
            </span>
        </div>
    </div>
</template>

<script>
import Input from '~/components/Input'
import Textarea from '~/components/Textarea'
export default {
    components: {
        Input,
        Textarea
    },
    props: {
        dynamicColumns: {
            type: String,
            default: ''
        },
        items: {
            type: Array,
            default: []
        },
        rowStyles: {
            type: String,
            default: ''
        },
        columnStyles: {
            type: String,
            default: ''
        },
        onChange: {
            type: Function,
            default: null
        },
        onFocus: {
            type: Function,
            default: null
        }
    },
    computed: {
        css() {
            return {
                '--dynamic-columns': this.dynamicColumns
            }
        }
    },
    filters: {
        formatItem(item) {
            if (typeof item !== 'string') return item
            return item.split('.')[0].replace('Actions','').replace('Action','')
        }
    },
    methods: {
        actionStyle(item) {
            if (typeof item !== 'string') return ''
            if (item.toString().split('.')[0] === 'Action' || item.toString().split('.')[0] === 'Actions') {
                return item.split('.')[0]
            }
        },
        editorFormatItem(item) {
            if (typeof item !== 'string') return ''
            return item.replace('.<INPUT><TEXTAREA>', '')
        },
        handleChange(value, index) {
            this.onChange(value, index)
        },
        handleFocus() {
            this.onFocus('HEADER');
        }
    }
}
</script>

<style src="./Header.scss" lang="scss"/>
