<template>
    <div class="table">
        <TableHeader
            :dynamic-columns="dynamicColumns"
            :items="header"
            :row-styles="rowStyles"
            :column-styles="columnStyles"
            :on-change="handleHeaderChanged"
            :on-focus="handleHeaderFocused"
            />
        <TableBody
            :dynamic-columns="dynamicColumns"
            :items="body"
            :omit="omit || []"
            :action="action"
            :row-styles="rowStyles"
            :column-styles="columnStyles"
            :on-change="handleBodyChanged"
            :on-focus="handleBodyFocused"
            />
    </div>
</template>

<script>
import TableHeader from './Header'
import TableBody from './Body'

export default {
    components: {
        TableHeader,
        TableBody
    },
    props: {
        header: {
            type: Array,
            required: false,
            default: []
        },
        body: {
            type: Array,
            required: false,
            default: []
        },
        omit: {
            type: Array,
            required: false,
            default: null
        },
        action: {
            type: Object,
            default: null
        },
        rowStyles: {
            type: String,
            default: ''
        },
        columnStyles: {
            type: String,
            default: ''
        },
        noHeader: {
            type: Boolean,
            default: false
        },
        onHeaderChange: {
            type: Function,
            default: null
        },
        onBodyChange: {
            type: Function,
            default: null
        },
        onFocus: {
            type: Function,
            default: null
        }
    },
    data() {
        return {
            dynamicColumns: '',
        }
    },
    created() {
        this.header.map(item => {
            if (typeof item !== 'string') {
                return this.dynamicColumns += 'repeat(1,1fr)'
            }
            if (item.includes('<INPUT>')) {
                return this.dynamicColumns += 'repeat(1,1fr)'
            }
            this.dynamicColumns += (item.split('.')[1] || 'repeat(1,1fr)') + ' '
        })
    },
    methods: {
        handleHeaderChanged(value, index) {
            this.onHeaderChange(value, index)
        },
        handleBodyChanged(input, value, index) {
            this.onBodyChange(input, value, index)
        },
        handleHeaderFocused(keyValue) {
            if (this.onFocus) {
                this.onFocus(keyValue)
            }
        },
        handleBodyFocused(keyValue) {
            if (this.onFocus) {
                this.onFocus(keyValue)
            }
        },
    },
}
</script>

<style src="./style.scss" lang="scss" >
