.table {
    background: #ffffff;
    font-size: 13px;
    .input-inline-table-wrapper {
        width: 100%;
        display: flex;
        padding: 5px;
        .textarea {
            width: 100%;
        }
        &.center {
            align-items: center;
            &-center {
                justify-content: center;
                align-items: center;
            }
        }
    }
    .input-inline-table {
        input {
            border: 1px solid silver;
        };
        .textarea {
            width: 100%;
        }
    }
}
