.shape-line {
    width: 100%;
    height: 1px;
    background-color: #e8e2e2;
    &.sm {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    &.md {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &.lg {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    &.xl {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}