<template>
    <div :class="['shape-line',distance]" />
</template>

<script>
export default {
    props: {
        distance: {
            type: String,
            default: 'sm'
        }
    }
}
</script>

<style src="./Line.scss" lang="scss" />
