<template>
    <div :class="['shape-triangle', type]" />
</template>

<script>
export default {
    props: {
        type: {
            type: String,
            default: 'down'
        }
    }
}
</script>

<style src="./Triangle.scss" lang="scss" />
