<template>
    <div class="paginator">
        <Row col="10" mcol="10">
            <div
                v-for="(item, i) in length"
                :class="['paginator-item', index === i && 'active']"
                :key="`paginator-item-${i}`"
                @click="handleUpdateIndex(i)"
                >{{ i + 1 }}
            </div>
            <div class="paginator-item new" v-if="creatingStatus === 'EDIT'" @click="handleAddNew">
                <Icon src="/icons/register.png" tooltip="Add New"/>
            </div>
        </Row>
    </div>
</template>

<script>

import Row from '~/components/Row'
import Icon from '~/components/Icon'

export default {
    components: {
        Row,
        Icon
    },
    props: {
        length: {
            type: Number,
            default: 0
        },
        index: {
            type: Number,
            default: 0
        },
        creatingStatus: {
            type: String,
            default: ''
        },
        onUpdateIndex: {
            type: Function,
            default: null
        }
    },
    methods: {
        handleUpdateIndex(index) {
            this.$emit('on-paginator-update', index)
        },
        handleAddNew() {
            this.$emit('on-paginator-addNew')
        }
    },
}
</script>

<style src="./style.scss" lang="scss" />
