.paginator {
    display: flex;
    .row {
        width: 100%;
        grid-gap: 1px;
        .paginator-item {
            font-size: 13px;
            padding: 2px;
            background-color: #607d8b;
            color: #ffffff;
            text-align: center;
            cursor: pointer;
            &.active {
                background-color: #00C853;
            }
            &:hover {
                background-color: #eeeeee;
                color: black;
            }
            &.new {
                display: flex;
                align-items: center;
                justify-content: center;
                .icon {
                    padding: 0;
                }
            }
        }
    }
}