<template>
  <div id="container" @click="handleTrigger">
    <nuxt class="container-view"/>
  </div>
</template>

<script>

export default {
  props: {
    menu: {
      type: String,
      default: ''
    },
    sidebar: {
      type: String,
      default: ''
    }
  },
  methods: {
    handleTrigger () {
      if (screen.width <= 600) {
        if (this.menu === 'menu-collapsed') { return }
        const data = {
          isMobile: true,
          key: 'menu'
        }
        this.$store.dispatch('local/updateSidebarMenu', data)
      }
      if (this.sidebar === 'sidebar-expanded') {
      console.log('handleTrigger')
        const data = {
          key: 'sidebar',
          itemActive: null
        }
        this.$store.dispatch('local/updateSidebarMenu', data)
      }
    }
  }
}
</script>

<style src="./style.scss" lang="scss" />
