#container {
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

#container .container-view {
    height: 100%;
    padding: 10px 10px 10px 175px;
    overflow-y: auto;
}

.menu-expanded > #container .container-view {
    padding-left: 175px;
    // transition: all 0.5s ease-in-out;
}

.menu-collapsed > #container .container-view {
    padding-left: 57px;
    // transition: all 0.3s ease-in-out;
}

@media all and (max-width: 600px) {
    #container {
        padding-left: 0px !important;
    }

    .menu-expanded > #container .container-view {
        padding-left: 5px;
    }

    #container .container-view {
        height: 100%;
        padding: 50px 5px 5px 5px;
    }

    .menu-collapsed > #container .container-view {
        padding-left: 5px;
    }
}