<template>
    <div class="comment-creator">
        <Textarea :on-change="handleChange" placeholder="Leave a your comment ..."/>
        <div class="comment-options">
            <span class="emotions"><Icon src="/icons/emotion-comment.png" tooltip="Open emotion icons"/></span>
            <span class="files"><Icon src="/icons/file-comment.png" tooltip="Add images/videos"/></span>
        </div>
    </div>
</template>

<script>
import Textarea from '~/components/Textarea'
import Icon from '~/components/Icon'
export default {
    components: {
        Textarea,
        Icon
    },
    methods: {
        handleChange(val) {
            console.log('VAL', val)
        }
    },
}
</script>

<style src="./style.scss" lang="scss" />