<template>
    <div class="comment-item">
        <div class="thumb">
            <img :src="userPicture"/>
        </div>
        <div class="name-date-comment">
            <div class="name-date">
                <span class="name">{{ userName }}</span>
                <span class="datetime">5 minutes ago</span>
            </div>
            <div class="comment-content">{{ comment }}</div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        userPicture: {
            type: String,
            default: ''
        },
        userName: {
            type: String,
            default: ''
        },
        comment: {
            type: String,
            default: ''
        },
        datetime: {
            type: String,
            default: ''
        }
    }
}
</script>

<style src="./style.scss" lang="scss" />