.comment-creator {
    .comment-options {
        display: flex;
    }
}

.comment-item {
    display: flex;
    margin-bottom: 3px;
    .thumb {
        width: 25px;
        margin-right: 5px;
        img { width: 100%; }
    }
    .name-date-comment {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid silver;
        border-radius: 10px;
        padding: 3px;
        .name-date {
            .name {
                font-size: 10px;
                font-weight: bold;
                float: left;
            }
            .datetime {
                font-size: 10px;
                float: right;
                margin-left: auto;
            }
        }
        .comment-content {
            font-size: 12px;
        }
    }
}