<template>
    <div class="document-based">
        <Row col="3" mcol="3">
            <Txt class-name="fx-center" value="Tên bài Test :" />
            <Input
                :value="documentTitle"
                class-name="colspan-2"
                type="default"
                size="lg"
                :on-change="handleTitleChanged"
                />

            <Txt class-name="fx-center" value="Tổng điểm :" />
            <Input
                :value="documentScore"
                class-name="colspan-2"
                type="default"
                size="lg"
                :is-number="true"
                :on-change="handleScoreChanged"
                />

            <Txt class="fx-center" value="Thời gian bắt đầu làm :" />
            <Select class="colspan-2 bordered" :options="selectOption" :on-change="handleSelectChanged"/>

            <Txt class="fx-center" value="Tổng Thời gian làm :" />
            <div class="fx-center">
                <Input class="default bordered wd-60" type="default" size="lg" value="1" :is-number="true"/>
                <span>(phút)</span>
            </div>
            <div class="fx-center">
                <Checkbox />
                <Txt value="Không giới hạn"/>
            </div>
        </Row>
    </div>
</template>

<script>
import Row from '~/components/Row'
import Txt from '~/components/Text'
import Select from '~/components/Select'
import Input from '~/components/Input'
import Checkbox from '~/components/Checkbox'

export default {
    components: {
        Row,
        Input,
        Checkbox,
        Select,
        Txt,
    },
    props: {
        mode: {
            type: String,
            default: ''
        }
    },
    computed: {
        documentTitle: {
            get() {
                return this.$store.state.document.creating.title
            },
            set(value) {
                this.$store.commit('document/updateCreatingTitle', value)
            }
        },
        documentScore: {
            get() {
                return this.$store.state.document.creating.score
            },
            set(value) {
                this.$store.commit('document/updateCreatingScore', value)
            }
        }
    },
    methods: {
        handleScoreChanged(value) {
            this.documentScore = parseInt(value)
        },
        handleTitleChanged(value) {
            this.documentTitle = value
        },
        handleSelectChanged(value) {
            console.log('handleSelectChanged', value)
        }
    },
    data () {
        return {
            selectOption: {
                label: 'Sau khi tạo 5 phút',
                items: [
                    {
                        icon: '',
                        label: 'Ngay sau khi tạo',
                        value: '1'
                    },
                    {
                        icon: '',
                        label: 'Sau khi tạo 5 phút',
                        value: '2'
                    },
                    {
                        icon: '',
                        label: 'Sau khi tạo 10 phút',
                    },
                    {
                        icon: '',
                        label: 'Sau khi tạo 15 phút',
                        value: '3'
                    },
                    {
                        icon: '',
                        label: 'Sau khi tạo 30 phút',
                        value: '4'
                    },
                    {
                        icon: '/icons/oclock.png',
                        label: 'Hẹn giờ (tùy chỉnh)',
                        value: 'DATETIME_SCHEDULE',
                        state: 'insight/creating/datetime'
                    },
                ]
            }
        }
    }
}
</script>

<style src="./style.scss" lang="scss" />