<template>
    <div
        :id="`textarea-${id}`"
        :contentEditable="true"
        :class="['textarea', inputEdited]"
        :style="css"
        :data-text="placeholder"
        @blur="handleChange"
        @focus="handleFocus"
        v-html="value">
    </div>
</template>

<script>
export default {
    data() {
        return {
            height: 30,
            inputEdited: 'unchanged'
        }
    },
    props: {
        id: {
            type: String,
            default: ''
        },
        keyValue: {
            type: String,
            default: ''
        },
        value: {
            type: String,
            default: ''
        },
        index: {
            type: String,
            default: '0'
        },
        placeholder: {
            type: String,
            default: ''
        },
        onChange: {
            type: Function,
            default: null
        },
        onFocus: {
            type: Function,
            default: null
        }
    },
    methods: {
        handleEnter() {
            this.inputEdited = 'changed'
            // this.value += '<br>'
            if (this.height < 56) {
                this.height += 5
            }
        },
        handleChange() {
            // if (!this.valuex) {
            //     this.inputEdited = 'unchanged'
            // }
            const value = document.getElementById(`textarea-${this.id}`).innerHTML
            this.onChange(value, this.index)
        },
        handleFocus() {
            if (this.onFocus) {
                this.onFocus(this.keyValue)
            }
        },
        handleKeyup(event) {
            // const dom = document.querySelector('#textarea-1')
            // const value = dom.innerHTML
            // this.onChange(value)
        }
    },
    computed: {
        css() {
            return {
                '--dynamic-height': `${this.height}px`
            }
        }
    },
    filters: {},
    created() {}
}
</script>

<style src="./style.scss" lang="scss" />