.textarea {
    // width: 100%;
    border: 1px solid silver;
    border-radius: 10px;
    min-height: var(--dynamic-height);
    max-height: 50px;
    max-width: 550px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
    border: 1px solid silver;
    color: #000000;
    overflow: hidden;
    overflow-y: scroll;
    overflow-y: auto;
    &.unchanged {
        padding-top: 10px;
    }
    &.changed {
        padding-top: 4px;
    }
    &.post {
        max-height: 150px !important;
    }
    p {
        margin: 0px !important;
        font-family: inherit;
    }
}

[contentEditable=true]:empty:not(:focus):before {
    content:attr(data-text);
    opacity: 0.5;
}