html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}

body.fontLoaded {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body .tooltip-container {
    padding: 8px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #000000;
    color: #ffffff;
    z-index: 100;
}

a {
    text-decoration-line: none;
    color: unset !important;
    cursor: pointer;
    &:hover {
        background-color: #e1e4ea;
    }
    &.active {
        background-color: #607d8b;
    }
}

ul, li {
    list-style-type: none;
}

.pointer {
    cursor: pointer;
}

.mobile {
    display: none !important;
}

p,
label {
    font-family: Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5em;
}

textarea:focus, input:focus{
    outline: none;
}

button:focus {
    outline: none !important;
}

#app {
    background-color: #fafafa;
    min-height: 100%;
    min-width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

[contenteditable]:focus {
    outline: 1px solid transparent;
    // border: 1px solid red;
}