@media all and (max-width: 600px) {
    .web {
        display: none !important;
    }
    .mobile {
        display: flex !important;
    }

    #modal {
        .modal {
            min-width: 100%;
            height: 100%;
            border-radius: 0px;
        }
    }
}