.left { float: left; }

.right { float: right; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.none-border-bottom { border-bottom: none !important; }