<template>
    <div class="panel-options">
        <Icon
            class-name="circle"
            src="/icons/panel-editor.png"
            tooltip="Open editor"
            on-click="1"
            @onclick="openEditor"/>
        <Icon
            class-name="circle"
            src="/icons/panel-file.png"
            tooltip="Add Image/Video/Audio"
            on-click="1"
            @onclick="openEditor"/>
    </div>
</template>

<script>
    import Icon from '~/components/Icon'
    import Button from '~/components/Text'

    export default {
        components: {
            Icon,
            Button
        },
        methods: {
            openEditor() {
                this.$store.commit('document/openCKE')
            }
        },
    }
</script>

<style src="./style.scss" lang="scss" />