.panel-options {
    position: absolute;
    height: 100%;
    width: 50px;
    margin-left: -55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}