<template>
  <div class="room-page">
    <div class="web">
      <Icon class-name="right" src="/icons/guide.png" tooltip="Your rooms that you have been registered or created"/>
    </div>
    <tabs>
      <tab name="Room đã tạo">
        <div class="head">
          <Button class="btn-bordered" text="New Room" icon="/icons/add_new.png" :on-click="openModal"/>
          <Button class="btn-bordered" text="Tìm kiếm" icon="/icons/search.png" :on-click="notToDoSomething"/>
        </div>
        <Br/>
        <Txt value="Your Rooms" size="sm bold"/>
        <Table key="table-room-page" :header="header" :body="data" :action="action" row-styles="bg-1"/>
      </tab>
      <tab name="Room đã tham gia">
        <Txt value="Your Rooms" size="sm bold"/>
        <Table key="table-room-page" :header="header" :body="data" :action="action" row-styles="bg-1"/>
      </tab>
      <tab name="Tìm Room">
        <Button class="btn-bordered" text="Tìm kiếm" icon="/icons/search.png" :on-click="notToDoSomething"/>
        <Br />
        <Txt value="Search results" size="sm bold"/>
        <Table key="table-room-page" :header="header" :body="joineds" :action="joineds_action" row-styles="bg-1"/>
      </tab>
    </tabs>
    <div>
</div>
  </div>
</template>

<script>
import { API, graphqlOperation } from 'aws-amplify'
// import { createPost } from '~/graphql/mutations'
import Table from '~/components/Table'
import Row from '~/components/Row'
import Input from '~/components/Input'
import Button from '~/components/Button'
import Icon from '~/components/Icon'
import Txt from '~/components/Text'
import Br from '~/components/Br'

export default {
  components: {
    Row,
    Table,
    Button,
    Input,
    Icon,
    Txt,
    Br
  },
  computed: {
    roomModal: {
      get() {
        return this.$store.state.room.modal
      }
    }
  },
  data() {
    return {
      header: ["ID.50px", "Name", "Author", "Members", "Status", "Actions.50px"],
      data: [
        {
          id: '101',
          name: 'Angular 9 in 2019 - 2020',
          author: 'Th. Nguyễn Văn Sỹ',
          members: '21/50',
          status: 'In-Progress',
          action: '[ICON]-REGISTER'
        },
        {
          id: '102',
          name: 'React Native in 2019 - 2020',
          author: 'Ts. Trần Duy Mạnh',
          members: '44/50',
          status: 'In-Progress',
          action: '[ICON]-JOIN',
        },
        {
          id: '103',
          name: 'ReactJS in 2019 - 2020',
          author: 'Th. Nguyễn Đại Hưng',
          members: '50/50',
          status: 'Opening',
          action: '[ICON]-JOIN',
        },
        {
          id: '104',
          name: 'Fullstack JS in 2019 - 2020',
          author: 'Std. Lê Viết Duy Phúc',
          members: '11/50',
          status: 'Finished',
          action: '[ICON]-REGISTER',
        }
      ],
      action: {
        state: 'insight',
        items: ['join'],
      },
      joineds: [
        {
          id: '201',
          name: 'Angular 9 in 2019 - 2020',
          author: 'Th. Nguyễn Văn Sỹ',
          members: '40/50',
          status: 'Opening',
          action: '[ICON]-REGISTER'
        },
        {
          id: '305',
          name: 'React Native in 2019 - 2020',
          author: 'Ts. Trần Duy Mạnh',
          members: '22/50',
          status: 'Opening',
          action: '[ICON]-JOIN',
        }
      ],
      joineds_action: {
        state: 'room',
        items: ['register']
      }
    }
  },
  methods: {
    openModal () {
      this.$store.dispatch('local/openModal', {
        mode: 'CREATE_ROOM',
        title: 'Create a new Room',
        component: 'CREATE_ROOM',
        txtSubmit: 'Create',
        txtCancel: 'Cancel'
      })
    },
    notToDoSomething() {}
  },
  watch: {
    roomModal(val) {
      if (val) {
        this.$store.dispatch('local/openConfirmModal', {
          component: 'CONFIRM_ROOM_REGISTRATION',
          title: 'Confirmation !',
          content: 'Sent your requestation to the room master. Please wait for accepting!',
          txtCancel: '',
          txtConfirm: 'Okay',
          forceClose: true
        })
      }
    }
  },
  destroyed() {
  },
}
</script>

<style src="./style.scss" lang="scss" />
