<template>
  <FullCalendar
    :plugins="calendarPlugins"
    :header="header"
    :resources="resource"
    :events="events"
    resourceAreaWidth="15%"
    minTime="06:00:00"
    default-view="resourceTimeGrid"
    schedulerLicenseKey="GPL-My-Project-Is-Open-Source"
  />
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import resourceTimeGridPlugin from '@fullcalendar/resource-timegrid'
import list from '@fullcalendar/list'

export default {
  components: {
    FullCalendar
  },
  props: {
    events: {
      type: Array,
      default: null
    },
    minTime: {
      type: String,
      default: '06:00:00'
    },
    resource: {
      type: Array,
      default: null
    }
  },
  data () {
    return {
      header: {
        left: 'today prev,next',
        center: 'title',
        right: 'resourceTimeGridDay,resourceTimeGridWeek'
      },
      eventList: [
        {
          title: 'Room 101',
          resourceId: '101',
          start: new Date()
        },
        {
          title: 'Room 102',
          resourceId: '102',
          start: new Date(),
          allDay: true
        }
      ],
      calendarPlugins: [resourceTimeGridPlugin, list]
    }
  }
}

</script>

<style src="@fullcalendar/core/main.css" />
<style src="@fullcalendar/daygrid/main.css" />
<style src="@fullcalendar/timegrid/main.css" />
<style src="@fullcalendar/list/main.css" />
<style src="@fullcalendar/resource-timeline/main.css" />
