<template>
  <div id="app-root">
    <div id="app" :class="[menu, sidebar, modal]" v-if="user && !isLoading">
      <Header />
      <Menu />
      <Sidebar />
      <Container :menu="menu" :sidebar="sidebar" />
      <Modal />
      <Datetime ref="datetime" v-model="datetime" type="datetime"/>
    </div>
    <div id="login" v-if="!user">
      <Login />
    </div>
    <Loading v-if="isLoading"/>
  </div>
</template>

<script>

import Header from '~/components/Header'
import Menu from '~/components/Menu'
import Sidebar from '~/components/Sidebar'
import Container from '~/components/View'
import Modal from '~/components/Modal'
import Login from '~/pages/login/index'
import Loading from '~/components/Loading'

export default {
  components: {
    Header,
    Menu,
    Sidebar,
    Container,
    Modal,
    Login,
    Loading
  },
  computed: {
    menu: {
      get () {
        return this.$store.state.local.menu.status
      }
    },
    sidebar: {
      get () {
        return this.$store.state.local.sidebar.status
      }
    },
    modal: {
      get () {
        return this.$store.state.local.modal.status
      }
    },
    user: {
      get () {
        return this.$store.state.user.attributes
      }
    },
    isLoading: {
      get () {
        return this.$store.state.user.isLoading
      }
    }
  },
  middleware: ['auth', 'hub'],
  data() {
    return {
      isVerify: false,
      child_component: Loading
    }
  },
  created() {
  }
}
</script>

<style src="./style.scss" lang="scss" />

