<template>
    <div class="modal-editor expanded">
        <CKEditor :value="cke_value"/>
    </div>
</template>

<script>
import CKEditor from '~/components/CKEditor'
export default {
    components: {
        CKEditor
    },
    data() {
        return {}
    },
    computed: {
        cke_value: {
            get() {
                return this.$store.state.document.cke.value
            }
        }
    }
}
</script>

<style src="./style.scss" lang="scss" />