<template>
    <div id="modal" class="editor-expanded">
        <Row :col="column" :mcol="column" v-if="modal.component">
            <CKEditor class-name="modal-editor" v-if="cke && modal.mode.includes('DOCUMENT')"/>
            <PickerEmoji v-if="modal.mode.includes('CREATE_POST')"/>
            <Row :class="['modal', (modal.mode.includes('CREATE_POST') && pickerEmoji) ? 'create-post' : '']" col="1" mcol="1" v-if="modal.component">
                <div class="modal-header">
                    <h3 class="modal-header_title">{{ modal.title }}</h3>
                    <span class="modal-header_close" @click="handleClose">
                        <Icon class-name="hovering" src="/icons/cancel.png"/>
                    </span>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <CreateMultiChoise v-if="modal.component === 'CREATE_MULTIPLE_CHOISE'" :mode="modal.mode" :confirm-destroy="modal.confirmedAt"/>
                        <PlayMultiChoise v-if="modal.component === 'PLAY_MULTIPLE_CHOISE'" :mode="modal.mode" :confirm-destroy="modal.confirmedAt"/>
                        <CreateRoom v-if="modal.component === 'CREATE_ROOM'"/>
                        <CreatePost v-if="modal.component === 'CREATE_POST_INSIGHT'"/>
                        <CreateTask v-if="modal.component === 'CREATE_DOCUMENT_INSIGHT'"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <Button
                        class-name="bold mgr-5"
                        :text="modal.txtCancel"
                        type="default"
                        :on-click="handleDestroy"
                        v-if="modal.txtCancel"/>
                    <Button
                        class-name="bold mgr-10"
                        :text="modal.txtSubmit ? modal.txtSubmit: 'Yes'"
                        type="primary"
                        :on-click="handleConfirm"/>
                </div>
                <PanelOptions v-if="!cke && modal.mode.includes('DOCUMENT') && !modal.mode.includes('PLAY')"/>
            </Row>
        </Row>
        <Confirmation />
    </div>
</template>

<script>
import Row from '~/components/Row'
import Icon from '~/components/Icon'
import Button from '~/components/Button'
import CKEditor from '~/components/CKEditor'
import CreateMultiChoise from './Content/Document/MultiChoise/Create'
import PlayMultiChoise from './Content/Document/MultiChoise/Play'
import CreateRoom from './Content/Room/Create'
import CreatePost from './Content/Insight/CreatePost'
import CreateTask from './Content/Insight/CreateTask'
import Confirmation from './Confirm'
import PanelOptions from './PanelOptions'
import PickerEmoji from './PickerEmoji'

export default {
    components: {
        Row,
        Icon,
        Button,
        CreateMultiChoise,
        PlayMultiChoise,
        CreateRoom,
        CreatePost,
        CreateTask,
        Confirmation,
        CKEditor,
        PanelOptions,
        PickerEmoji
    },
    computed: {
        modal: {
            get () {
                return this.$store.state.local.modal
            }
        },
        cke: {
            get () {
                return this.$store.state.document.cke.isOpened
            }
        },
        documentCreatingStatus: {
            get () {
                return this.$store.state.document.creating.status
            }
        },
        documentPlayingOpened: {
            get () {
                return this.$store.state.document.playing.isOpened
            }
        },
        documentPlayingStatus: {
            get () {
                return this.$store.state.document.playing.status
            }
        },
        pickerEmoji: {
            get () {
                return this.$store.state.local.emoji.isOpened
            }
        }
    },
    methods: {
        handleClose() {
            this.$store.dispatch('local/closeModal')
            this.$store.commit('local/closePickerEmoji')
            this.$emit('on-modal-close')
        },
        handleDestroy() {
            if (this.modal.hasReConfirmCancel) {
                this.$store.dispatch('local/openConfirmModal')
                return
            }
            if (this.modal.mode.includes('ROOM')) {
                this.$store.dispatch('room/resetRoomCreating')
            }
            this.$store.dispatch('local/closeModal')
            this.$store.commit('local/closePickerEmoji')
        },
        handleConfirm() {
            if (this.modal.mode.includes('DOCUMENT')) {
                if (this.modal.mode.includes('CREATE')) {
                    return this.$store.dispatch('document/createDocument')
                }
                if (this.modal.mode.includes('PLAY')) {
                    return this.$store.dispatch('document/confirmPlaying')
                }
            }
            if (this.modal.mode.includes('ROOM')) {
                return this.$store.dispatch('room/createRoom')
            }
            // if (this.modal.mode.includes('INSIGHT')) {
            //     return this.$store.commit('insight/createPost')
            // }
        }
    },
    watch: {
        documentCreatingStatus(val) {
            if (val === 'CONFIRMED_CREATE') {
                this.$store.dispatch('document/resetCreating')
                this.$store.dispatch('local/closeModal')
            }
        },
        documentPlayingOpened(val) {
            if (val) {
                const txtSubmit = this.documentPlayingStatus === 'CONFIRMED' ? 'Complete' : 'Play'
                const txtCancel = this.documentPlayingStatus === 'CONFIRMED' ? '' : 'Cancel'
                if (this.documentPlayingOpened) {
                    this.$store.dispatch('local/openModal', {
                        mode: 'PLAY_DOCUMENT',
                        title: 'Play a Document',
                        component: 'PLAY_MULTIPLE_CHOISE',
                        txtSubmit: txtSubmit,
                        txtCancel: txtCancel,
                    })
                }
            }
        },
        documentPlayingStatus(val) {
            if (val) {
                this.$store.commit('local/updateModalFooter', {
                    txtSubmit: this.documentPlayingStatus,
                    txtCancel: '',
                })
            }
        },
        cke(val) {
            if (val) {
                this.column = '2'
            } else {
                this.column = '1'
            }
        },
        pickerEmoji(val) {
            if (val) {
                this.column = '2'
            } else {
                this.column = '1'
            }
        }
    },
    data() {
        return {
            column: '1',
        }
    }
}
</script>

<style src="./style.scss" lang="scss" />
