#modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    align-items: center;
    justify-content: center;
    .modal {
        min-width: 550px;
        // min-height: 200px;
        background: #ffffff;
        border-radius: 8px;
        position: relative;
        &-header {
            display: flex;
            height: 50px;
            border-bottom: 1px solid silver;
            padding: 6px;
            align-items: center;
            justify-content: center;
            &_close {
                position: absolute;
                right: 5px;
                cursor: pointer;
            }
        }
        &-body {
            // min-height: 250px;
            margin-bottom: 50px;
            width: 100%;
            .content {
                padding: 10px;
            }
            // margin-top: -50px;
            // padding: 56px 6px 45px 6px;
        }
        &-footer {
            width: 100%;
            margin-bottom: 10px;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: flex-end;
        }
    }

    .modal-confirm {
        position: absolute;
        width: 300px;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: -5px 3px 20px 5px darkslategrey;
        &-header {
            display: flex;
            height: 50px;
            border-bottom: 1px solid silver;
            padding: 6px;
            align-items: center;
            justify-content: center;
            &_close {
                position: absolute;
                right: 5px;
                cursor: pointer;
            }
        }
        &-body {
            // min-height: 250px;
            margin-bottom: 50px;
            width: 100%;
            .content {
                padding: 10px;
            }
            // margin-top: -50px;
            // padding: 56px 6px 45px 6px;
        }
        &-footer {
            width: 100%;
            margin-bottom: 10px;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
        }
    }

    &.editor-expanded {
        .modal {
            margin-right: 5px;
        }
        .modal-editor {
            width: 100%;
            height: 100%;
            background-color: white;
            position: relative;
        }
    }

    .create-post {
        &.modal {
            min-width: 360px;
        }
    }
}

#app {
    &.modal {
        &-expanded {
            #modal {
                display: flex;
                background-color: rgba(0,0,0,.32);
            }
        }
        &-collapsed {
            #modal {
                display: none;
            }
        }
    }
}

.mgr-5 {
    margin-right: 5px;
}

.mgr-10 {
    margin-right: 10px;
}