<template>
    <div :class="['wave', pickingClass]" @click="handleClick">
        <div class="index"><span>{{ index }}</span></div>
        <div class="value" v-html="value"></div>
    </div>
</template>

<script>
export default {
    props: {
        index: {
            type: String,
            default: ''
        },
        value: {
            type: String,
            default: ''
        },
        isCorrect: {
            type: Object,
            default: null
        },
        onClick: {
            type: Function,
            default: null
        }
    },
    data() {
        return {
            pickingClass: ''
        }
    },
    methods: {
      handleClick() {
        this.onClick(this.index)
      }
    },
    watch: {
        isCorrect(val) {
            if (val.value.includes(this.index)) {
                this.pickingClass = 'picked'
            } else {
                this.pickingClass = ''
            }
        }
    }
}
</script>

<style src="./style.scss" lang="scss" />