.wave {
    display: flex;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 10px;
    max-width: 650px;
    .index {
        min-width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            width: 80%;
            text-align: center;
            background: silver;
            border-radius: 50%;
        }
    }
    &:hover {
        background-color: silver;
        cursor: pointer;
    }
    &.picked {
        background-color: green;
    }
}