<template>
  <div class="home-page">
    <div>We don't have any ideas at this page ...</div>
    <div>maybe a short video to introduce here ...</div>
  </div>
</template>

<script>

export default {
  created () {
    // this.$push.init()
  }
}
</script>
