<template>
  <div class="calendar-page">
    <Calendar :resource="rooms" :events="events" />
  </div>
</template>

<script>

export default {
  data () {
    return {
      rooms: [
        {
          id: '101',
          title: 'Angular 9'
        },
        {
          id: '102',
          title: 'English Speaking on Level 1'
        },
        {
          id: '103',
          title: 'React Native'
        }
      ],
      events: [
        {
          title: 'Room 101',
          resourceId: '101',
          start: new Date()
        },
        {
          title: 'Room 102',
          resourceId: '102',
          start: new Date(),
          allDay: true
        }
      ]
    }
  }
}
</script>
