<template>
  <span class="text" :class="[className,size,color,type]">
    {{ required ? value.replace(' :' || ':' || ': ', '* :') : value }}
  </span>
</template>

<script>
export default {
  props: {
    className: {
      type: String,
      required: false,
      default: ''
    },
    value: {
      type: String,
      required: true
    },
    size: {
      type: String,
      required: false,
      default: 'lg'
    },
    color: {
      type: String,
      required: false,
      default: ''
    },
    type: {
      type: String,
      required: false,
      default: ''
    },
    required: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>

<style src="./style.scss" lang="scss" />
