.text {
    &.xxsm {
        font-size: 8px;
    }
    &.xsm {
        font-size: 10px;
    }
    &.sm {
        font-size: 12px;
    }
    &.md {
        font-size: 14px;
    }
    &.lg {
        font-size: 16px;
    }
    &.xl {
        font-size: 18px;
    }
    &.xxl {
        font-size: 20px;
    }
    &.xxxl {
        font-size: 24px;
    }
    &.white {
        color: #ffffff;
    }
    &.black {
        color: #000000;
    }
    &.primary {
        color: #435fd45c;
    }
    &.danger {
        color: #e04c4c;
    }
    &.warning {
        color: orange;
    }
    &.green {
        color: green;
    }
    &.bold {
        font-weight: bolder;
    }
    &.italic {
        font-style: italic;
    }
}