<template>
    <Row class="modal-confirm" col="1" mcol="1" v-if="modal.status">
        <div class="modal-confirm-header">
            <h3 class="modal-header_title">{{ modal.title }}</h3>
            <span class="modal-header_close" @click="handleClose">
                <Icon class-name="hovering" src="/icons/cancel.png"/>
            </span>
        </div>
        <div class="modal-confirm-body">
            <div class="content text-center">
                {{ modal.content }}
            </div>
        </div>
        <div class="modal-confirm-footer">
            <Button
                class-name="bold mgr-5"
                :text="modal.txtCancel"
                v-if="modal.txtCancel"
                type="default"
                :on-click="handleClose"/>
            <Button
                class-name="bold"
                :text="modal.txtConfirm ? modal.txtConfirm: 'Yes'"
                type="primary"
                :on-click="handleConfirm"/>
        </div>
    </Row>
</template>

<script>
import Row from '~/components/Row'
import Button from '~/components/Button'
import Icon from '~/components/Icon'

export default {
    components: {
        Row,
        Button,
        Icon
    },
    computed: {
        modal: {
            get () {
                return this.$store.state.local.modalConfirm
            }
        }
    },
    methods: {
        handleClose() {
            this.$store.dispatch('local/cancelModalConfirm')
        },
        handleConfirm() {
            this.$store.dispatch('local/confirmModalConfirm')
        }
    },
}
</script>

<style src="./style.scss" lang="scss" />
