<template>
  <div class="document-page">
    <div class="web">
      <Icon class-name="right" src="/icons/guide.png" tooltip="You can create documents at here and then import it to the rooms you want"/>
    </div>
    <tabs>
      <tab class="document-created" name="Tài liệu đã tạo">
        <div class="head">
          <Button class="btn-bordered" text="Tạo tài liệu" icon="/icons/add_new.png" :on-click="openModal"/>
          <Button class="btn-bordered" text="Tìm Kiếm" icon="icons/search.png" />
          <Txt size="sm" type="italic bold" value="Bạn có 1 tài liệu đã tạo"/>
        </div>
        <div class="body">
          <div v-for="(document, index) in documents" :key="index">
            <span class="documents-created-item">
              <span class="document-title">{{ document.title }}</span>
              <span class="document-brand-type">{{ document.dt_created }}</span>
              <span class="document-brand-created">Trắc nghiệm</span>
            </span>
          </div>
        </div>
      </tab>
      <tab name="Tài liệu được giao">
        <Txt size="sm" type="italic bold" value="Bạn chưa có tài liệu nào được giao"/>
      </tab>
    </tabs>
    <nuxt-child name="document-created"/>
  </div>
</template>

<script>
import Row from '~/components/Row'
import Table from '~/components/Table'
import Input from '~/components/Input'
import Button from '~/components/Button'
import Txt from '~/components/Text'
import Br from '~/components/Br'
import Icon from '~/components/Icon'
import { Datetime } from 'vue-datetime'

export default {
  components: {
    Row,
    Table,
    Input,
    Button,
    Txt,
    Icon,
    Datetime
  },
  computed: {
    documents: {
      get() {
        return this.$store.state.document.list.data
      }
    }
  },
  data() {
    return {
      checked: true,
      header: ['Title', 'User created', 'Questions.100px', 'Date created', 'Action.100px'],
      bodyOmit: ['id', 'score'],
      action: {
        state: 'document',
        items: ['play', 'edit', 'delete']
      },
      sample: null
    }
  },
  methods: {
    openModal() {
      this.$store.dispatch('local/openModal', {
        mode: 'CREATE_DOCUMENT',
        title: 'Create a new Document',
        component: 'CREATE_MULTIPLE_CHOISE',
        txtSubmit: 'Create',
        txtCancel: 'Destroy',
        hasReConfirmCancel: true
      })
    }
  },
}
</script>

<style src="./style.scss" lang="scss" />
