.document-page {
    .document-created {
        .head {
            display: flex;
            align-items: center;
            button {
                margin-right: 10px;
            }
        }
        .body {
            display: flex;
            flex-direction: column;
            margin-top: 5px;
        }
        .documents-created-item {
            display: inline-block;
            padding: 5px;
            .document-brand-type {
                // display: flex;
                // align-items: center;
                font-size: 8px;
                padding: 5px;
                border: 1px solid silver;
                border-radius: 10px;
                color: black;
                font-style: italic;
                margin-left: 15px;
            }
            .document-brand-created {
                // display: flex;
                // align-items: center;
                font-size: 8px;
                padding: 5px;
                background: green;
                border-radius: 10px;
                color: white;
                font-style: italic;
                margin-left: 5px;
            }
            &:hover {
                cursor: pointer;
                background-color: #ebedee;
                border-radius: 10px;
            }
        }
    }
}