<template>
    <div :class="['wrapper', className]">
        <textarea
            id="editor"
            name="editor"
            cols="10"
            rows="10"
            :value="value"
            data-sample-short />
    </div>
</template>

<script>
    import Button from '~/components/Button'
    export default {
        name: 'ckeditor',
        components: { Button },
        props: {
            className: {
                type: String,
                default: ''
            },
            value: {
                type: String,
                default: ''
            }
        },
        computed: {
            cke_value: {
                get () {
                    return this.$store.state.document.cke.value
                }
            }
        },
        mounted() {
            const self = this;
            const mathElements = [
                'math',
                'maction',
                'maligngroup',
                'malignmark',
                'menclose',
                'merror',
                'mfenced',
                'mfrac',
                'mglyph',
                'mi',
                'mlabeledtr',
                'mlongdiv',
                'mmultiscripts',
                'mn',
                'mo',
                'mover',
                'mpadded',
                'mphantom',
                'mroot',
                'mrow',
                'ms',
                'mscarries',
                'mscarry',
                'msgroup',
                'msline',
                'mspace',
                'msqrt',
                'msrow',
                'mstack',
                'mstyle',
                'msub',
                'msup',
                'msubsup',
                'mtable',
                'mtd',
                'mtext',
                'mtr',
                'munder',
                'munderover',
                'semantics',
                'annotation',
                'annotation-xml'
            ]
            CKEDITOR.plugins.addExternal('ckeditor_wiris', 'https://ckeditor.com/docs/ckeditor4/4.14.0/examples/assets/plugins/ckeditor_wiris/', 'plugin.js')
            CKEDITOR.replace('editor', {
                extraPlugins: 'ckeditor_wiris',
                removePlugins: 'uploadimage,uploadwidget,uploadfile,filetools,filebrowser',
                height: 320,
                extraAllowedContent: mathElements.join(' ') + '(*)[*]{*};img[data-mathml,data-custom-editor,role](Wirisformula)'
            })
            CKEDITOR.instances.editor.on('change', function(event) {
                // const iframe = document.querySelector('.cke_contents iframe')
                // const content = iframe.contentDocument
                // const value = content.body.innerHTML
                // self.$store.dispatch('document/updateEditor', value)
            });
            CKEDITOR.instances.editor.on('loaded', function(event) {
                const body = document.querySelector('.cke_contents iframe')
                const footer = document.getElementsByClassName('cke_bottom')[0]
                const content = body.contentDocument
                const btnClear = document.createElement('button')
                const btnClearText = document.createTextNode("Clear")

                const btnClose = document.createElement('button')
                const btnCloseText = document.createTextNode('Close')
                btnClose.setAttribute("class", "button default bold mgr-7")
                btnClose.appendChild(btnCloseText)
                footer.appendChild(btnClose)
                btnClose.onclick = function() {
                    const value = content.body.innerHTML
                    self.$store.commit('document/closeCKE')
                }

                btnClear.setAttribute("class", "button default bold mgr-7")
                btnClear.appendChild(btnClearText)
                footer.appendChild(btnClear)
                btnClear.onclick = function() {
                    content.body.innerHTML = ''
                }

                const btnSave = document.createElement('button')
                const btnSaveText = document.createTextNode("Save")
                btnSave.setAttribute("class", "button primary bold")
                btnSave.appendChild(btnSaveText)
                footer.appendChild(btnSave)
                btnSave.onclick = function() {
                    const value = content.body.innerHTML
                    self.$store.dispatch('document/updateCKEValue', value)
                }
            });
        },
        watch: {
            cke_value(value) {
                const iframe = document.querySelector('.cke_contents iframe')
                const content = iframe.contentDocument
                content.body.innerHTML = value
            }
        },
    }
</script>

<style src="./style.scss" lang="scss" />
