.wrapper {
    width: 100%;
    height: 100%;
    max-height: 400px;
}

.cke_inner {
    display: grid !important;
    height: 100% !important;
    position: absolute !important;
}

.cke_top {
    min-height: 100px;
}

.cke_contents {
    height: auto !important;
}

.cke_bottom {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    .cke_path, .cke_resizer {
        display: none;
    }
}

.mgr-7 {
    margin-right: 7px !important;
}