<template>
    <div :class="['row']" :style="css">
        <slot />
    </div>
</template>

<script>
export default {
    props: {
        col: {
            type: String,
            default: ''
        },
        mcol: {
            type: String,
            default: ''
        }
    },
    computed: {
        css() {
            return {
                '--col': this.col,
                '--mcol': this.mcol
            }
        }
    },
}
</script>

<style src="./style.scss" lang="scss" />


