.row {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(var(--col), 1fr);
    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(var(--mcol), 1fr);
    }
    .colspan-1 {
        grid-column: 1 / span 2;
    }
    .colspan-2 {
        grid-column: 2 / span 2;
    }
    .colspan-3 {
        grid-column: 3 / span 2;
    }
}