<template>
    <div class="multiple-choise">
        <DocumentBased :mode="mode" v-if="creatingStatus === 'CONFIRM_CREATE'"/>
        <Row col="1" mcol="1" v-if="creatingStatus === 'CREATE'|| creatingStatus === 'EDIT'">
            <Table
                :header="[
                    `${this.currentIndex + 1}.50px`,
                    `${this.question ? this.question : ''}.<INPUT><TEXTAREA>`,
                    '.50px'
                ]"
                :body="answers"
                row-styles="center-center bordered bg-1"
                column-styles="center-center bordered"
                :on-header-change="handleHeaderChanged"
                :on-body-change="handleBodyChanged"
                :on-focus="handleFocused"
                />
            <div class="del-add-actions">
                <Button text="Clear" :on-click="handleReset"/>
                <Button text="Add" :on-click="handleAdd" v-if="creatingStatus === 'CREATE'"/>
                <Button text="Delete" :on-click="handleDelete" v-if="creatingStatus === 'EDIT'"/>
            </div>
            <Paginator
                :index="currentIndex"
                :length="list.length"
                :creatingStatus="creatingStatus"
                @on-paginator-update="handleUpdateCurrentIndex"
                @on-paginator-addNew="handleSwitchToCreateMode"/>
        </Row>
    </div>
</template>

<script>
import Row from '~/components/Row'
import Table from '~/components/Table'
import Paginator from '~/components/Paginator'
import Input from '~/components/Input'
import Checkbox from '~/components/Checkbox'
import Button from '~/components/Button'
import DocumentBased from '~/components/Modal/Content/Document/_Based'
import { questionInfoInit } from '../constants'

export default {
    components: {
        Row,
        Table,
        Button,
        DocumentBased,
        Paginator
    },
    props: {
        mode: {
            type: String,
            default: ''
        },
        confirmDestroy: {
            type: String,
            default: ''
        }
    },
    computed: {
        list: {
            get () {
                if (this.mode.includes('CREATE_DOCUMENT')) {
                    return this.$store.state.document.creating.list
                }
                return []
            }
        },
        question: {
            get () {
                return this.$store.state.document.creating.draft.question
            }
        },
        answers: {
            get () {
                return this.$store.state.document.creating.draft.answers
            }
        },
        currentIndex: {
            get () {
                return this.$store.state.document.creating.currentIndex
            }
        },
        creatingStatus: {
            get () {
                return this.$store.state.document.creating.status
            }
        },
        // cke_value: {
        //     get () {
        //         return this.$store.state.document.cke.value
        //     }
        // }
    },
    methods: {
        handleHeaderChanged(value, index) {
            this.$store.dispatch('document/updateDraftQuestion', value)
            this.$store.dispatch('document/updateCKEValue', value)
        },
        handleBodyChanged(input, value, index) {
            if (input === 'answerResult') {
                this.$store.dispatch('document/updateDraftResult', {
                    answerIndex: index,
                    answerResult: !value
                })
                return
            }
            if (input === 'answerValue') {
                const answerIndex = index
                const answerValue = value
                const answerValueIsChanged = true
                let answerValueIsValid = true
                if (!value) { answerValueIsValid = false }
                this.$store.dispatch('document/updateDraftAnswers', {
                    answerIndex,
                    answerValue,
                    answerValueIsChanged,
                    answerValueIsValid
                })
                this.$store.dispatch('document/updateCKEValue', value)
            }
        },
        handleAdd() {
            this.$store.dispatch('document/addDraftToList')
        },
        handleDelete() {
            this.$store.dispatch('document/deleteOneCreating')
        },
        handleReset() {
            this.$store.dispatch('document/resetDraft')
        },
        handleSwitchToCreateMode() {
            this.$store.dispatch('document/updateCreatingStatus', 'CREATE')
        },
        handleUpdateCurrentIndex(index) {
            this.$store.dispatch('document/updateListCreatingIndex', index)
            this.$store.dispatch('document/updateCreatingStatus', 'EDIT')
        },
        handleFocused(keyValue) {
            this.$store.dispatch('document/updateCKEKeyValue', keyValue)
        }
    },
    watch: {
        confirmDestroy(val) {
            // if (val.includes('CANCELED')) {
            //     console.log('NOT')
            // }
            if (val.includes('CONFIRMED')) {
                this.$store.dispatch('local/closeModal')
                this.$store.dispatch('document/resetCreating')
            }
        }
    },
    data() {
        return {
            selector: 'CREATE_MULTIPLE_CHOISE'
        }
    },
}
</script>

<style src="./style.scss" lang="scss" />