<template>
    <div class="multiple-choise">
        <Row col="3" mcol="3" v-if="status === 'INIT'">
            <Txt class-name="fx-center" value="Test's name :" />
            <Txt class-name="colspan-2" :value="data.title" />

            <Txt class-name="fx-center" value="Total questions :" />
            <Txt class-name="colspan-2" :value="answers.length.toString()"/>

            <Txt class-name="fx-center" value="Duration time :" />
            <Txt class-name="colspan-2" :value="'Unlimited'" />

            <Txt class-name="fx-center" value="Deadline :" />
            <Txt class-name="colspan-2" :value="'Unlimited'" />
        </Row>

        <Row
            class-name="player-list"
            col="1" mcol="1"
            v-if="status === 'CONFIRMED'">
            <Txt :value="`${questionIndex + 1}. ${answers[questionIndex] ? answers[questionIndex].question: ''}`"/>
            <Wave
                v-for="(answer, index) in answers[questionIndex].answers"
                :key="index"
                :index="answer.answerIndex"
                :value="answer.answerValue"
                :is-correct="result[questionIndex]"
                :on-click="handleClick"
                />
            <div class="player-list-btn">
                <Button class="mgr-8" icon="/icons/previous.png" :on-click="xxx"/>
                <Button icon="/icons/next.png" :on-click="xxx"/>
                <Checkbox class="marker" tooltip="Remember this question" :on-click="remember"/>
            </div>
        </Row>

        <Txt value="I am done" v-if="status === 'COMPLETED'"/>

        <Row class="player-list-paginator" col="5" mcol="5">
            <div v-for="(item, index) in answers"
                :key="`paginator-item-${index}`"
                :class="['item', (index.toString() === questionIndex.toString()) ? 'active' : '', item.isMarked ? 'marked' : '', (result[index] && result[index].value) ? 'changed':'']"
                @click="updateQuestionIndex(index)">
                {{ parseInt(index) + 1 }}
            </div>
        </Row>
    </div>
</template>

<script>
import Row from '~/components/Row'
import Table from '~/components/Table'
import Paginator from '~/components/Paginator'
import Txt from '~/components/Text'
import Input from '~/components/Input'
import Button from '~/components/Button'
import Checkbox from '~/components/Checkbox'
import Icon from '~/components/Icon'
import Wave from '~/components/Wave'

export default {
    components: {
        Row,
        Table,
        Paginator,
        Txt,
        Input,
        Icon,
        Button,
        Checkbox,
        Wave
    },
    computed: {
        status: {
            get() {
                return this.$store.state.document.playing.status
            }
        },
        data: {
            get() {
                return this.$store.state.document.playing.data
            }
        },
        questionIndex: {
            get() {
                return this.$store.state.document.playing.questionIndex
            }
        },
        result: {
            get() {
                return this.$store.state.document.playing.result
            }
        },
        answers: {
            get() {
                return this.$store.state.document.playing.data.answers
            }
        }
    },
    methods: {
      handleClick(answerIndex) {
        this.$store.dispatch('document/updatePlayingResult', answerIndex)
      },
      xxx() {},
      remember(isMarked) {
        console.log('remember', isMarked, this.questionIndex)
        this.$store.dispatch('document/updatePlayingMarker')
      },
      updateQuestionIndex(index) {
        this.$store.commit('document/updateQuestionIndex', { index: parseInt(index) })
      }
    },
    created() {
    },
    destroyed() {
        this.$store.dispatch('document/closePlaying')
    },
    watch: {
        answers(val) {
            console.log("answers(val) ", val)
        }
    },
}
</script>

<style src="./style.scss" lang="scss" />