.multiple-choise {
    .del-add-actions {
        display: flex;
        justify-content: center;
        margin: 5px;
        button {
            margin-right: 5px;
        }
    }
    .player-list-btn {
        display: flex;
        justify-content: center;
        position: relative;
        .mgr-8 {
            margin-right: 8px;
        }
        .marker {
            position: absolute;
            right: 0;
        }
    }
    .player-list-paginator {
        max-width: 120px;
        max-height: 350px;
        position: absolute;
        right: -145px;
        background: white;
        border-radius: 10px;
        padding: 8px;
        top: 0;
        .item {
            width: 18px;
            height: 20px;
            font-size: small;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid silver;
            &:hover {
                background-color: silver;
                cursor: pointer;
            }
            &.changed {
                background-color: green;
                color: white;
            }
            &.active {
                border: 1px solid red;
            }
            &.marked {
                background-color: orange;
            }
        }
    }
}