<template>
  <span :class="['icon', className]">
    <img
      v-if="!tooltip"
      :class="[size]"
      :src="src"
      :alt="alt"
      @click="handleClick"
    >
    <img
      v-if="tooltip"
      v-tooltip.top-center="tooltip"
      :class="[size]"
      :src="src"
      :alt="alt"
      @click="handleClick"
    >
  </span>
</template>

<script>
export default {
  props: {
    className: {
      type: String,
      required: false,
      default: null
    },
    id: {
      type: String,
      default: ''
    },
    src: {
      type: String,
      required: true
    },
    size: {
      type: String,
      required: false,
      default: ''
    },
    alt: {
      type: String,
      required: false,
      default: ''
    },
    tooltip: {
      type: String,
      required: false,
      default: ''
    },
    method: {
      type: Function,
      required: false,
      default: null
    },
    action: {
      type: String,
      default: ''
    },
    onClick: {
      type: String,
      default: null
    }
  },
  methods: {
    handleClick(e) {
      if (this.onClick) {
        this.$emit('onclick', this.id, this.action)
      }
    }
  }
}
</script>

<style src="./style.scss" lang="scss" />
