.icon {
  display: flex;
  border: 1px solid none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  // ICON SIZES:
  img {
    &.sm {
      width: 20px;
      height: 20px;
    }
    &.md {
      width: 25px;
      height: 25px;
    }
    &.lg {
      width: 30px;
      height: 30px;
    }
    &.xl {
      width: 40px;
      height: 40px;
    }
  }

  // ICON ACTIONS:
  &.hovering {
    &:hover {
      background-color: #eeeeee;
    }
  }

  &.active {
    background-color: #eeeeee;
  }

  &.circle {
    img {
      border-radius: 50%;
      border: 2px solid silver;
      padding: 5px;
      background-color: #ffffff;
    }
  }
}