<template>
  <div id="menu">
    <MenuItem icon="/icons/room-menu.png" name="Room" to="/room" :class-name="menuActive()[0]" />
    <MenuItem icon="/icons/document-menu.png" name="Document" to="/document" :class-name="menuActive()[1]" />
    <MenuItem icon="/icons/calendar-menu.png" name="Calendar" to="/calendar" :class-name="menuActive()[2]" />
    <ToggleButton />
  </div>
</template>

<script>
import MenuItem from './Item'
import ToggleButton from './Toggle'

export default {
  components: {
    MenuItem,
    ToggleButton
  },
  data () {
    return {
      path: this.$store.$router.currentRoute.fullPath
    }
  },
  watch: {
    $route () {
      this.path = this.$store.$router.currentRoute.fullPath
      this.menuActive()
    }
  },
  methods: {
    menuActive () {
      const _ = this.$lodash
      if (_.includes(this.path, 'room')) {
        return ['active', '', '']
      }
      if (_.includes(this.path, 'document')) {
        return ['', 'active', '']
      }
      if (_.includes(this.path, 'calendar')) {
        return ['', '', 'active']
      }
      return ['', '', '']
    }
  },
}
</script>

<style src="./style.scss" lang="scss" />
