.menu-item-link {
  // height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid silver;
  z-index: 1;
  position: relative;
  .menu-title {
    position: absolute;
    margin-left: 40px;
  }
  &.active {
    .menu-title {
      color: white
    }
  }
}