<template>
  <nuxt-link :class="['menu-item-link', ...className]" :to="to">
    <Icon :class-name="`menu-icon ${className}`" :src="icon" size="md"/>
    <Txt class-name="menu-title" :value="name" />
  </nuxt-link>
</template>

<script>
import Icon from '~/components/Icon'
import Txt from '~/components/Text'
export default {
  components: {
    Icon,
    Txt
  },
  props: {
    className: {
      type: String,
      required: false,
      default: ''
    },
    to: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: false,
      default: ''
    },
    name: {
      type: String,
      required: false,
      default: ''
    }
  }
}
</script>

<style src="./Item.scss" lang="scss" />
