#menu {
  height: 100vh;
  margin-top: 50px;
  position: fixed;
  z-index: 1;
  border-right: 1px solid silver;
  background-color: #ffffff;

  @media all and (max-width: 600px) {
    width: 100% !important;
    height: 40px;
    display: flex;
    border-bottom: 1px solid silver;
    .menu-item-link {
      border-bottom: none;
      border-left: 1px solid silver;
      width: 33%;
      .menu-title {
        display: contents !important;
      }
      &:nth-child(1) {
        border-left: none;
      }
    }
  }
}

.menu-expanded > #menu {
  width: 166px;
  transition: width 0.5s;
  .menu-item-link {
    .menu-title {
      transition: width 0.5s;
      &.active {
        transition-delay: 0s;
      }
    }
  }
}

.menu-collapsed > #menu {
  width: 47px;
  transition: width 0.5s;
  padding: 0px;
  #menu-toggle-btn {
    display: flex;
    justify-content: center;
  }
  .menu-item-link {
    justify-content: center;
    .menu-title {
      display: none;
    }
  }
}