<template>
  <div id="menu-toggle-btn" class="web">
    <span v-if="menu === 'menu-expanded'" class="right pointer">
      <img class="toggle-img" src="/icons/toggle-menu-to-left.png" alt="" @click="menu = 'CLOSE'">
    </span>
    <span v-if="menu === 'menu-collapsed'" class="left pointer">
      <img class="toggle-img" src="/icons/toggle-menu-to-right.png" alt="" @click="menu = 'OPEN'">
    </span>
  </div>
</template>

<script>
export default {
  computed: {
    menu: {
      get () {
        return this.$store.state.local.menu.status
      },
      set (status) {
        return this.$store.dispatch('local/updateMenuStatus', status)
      }
    }
  }
}
</script>

<style src="./Toggle.scss" lang="scss" />
