#menu-toggle-btn {
  position: absolute;
  width: 100%;
  bottom: 50px;
  span {
    &.right {
      float: right;
    }
    &.left {
      float: left;
    }
    .toggle-img {
      width: 22px;
    }
  }
}